<mat-dialog-content>
  <form
    class="form"
    [formGroup]="form"
    (submit)="submit()"
    fxLayout="column"
    fxLayoutGap="16px"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      {{ fileName || "Izberi datoteko" }}
      <button
        mat-mini-fab
        type="button"
        color="primary"
        class="upload-btn"
        (click)="fileInput.click(); $event.preventDefault()"
      >
        <mat-icon>image</mat-icon>
      </button>
      <input
        id="file"
        type="file"
        #fileInput
        hidden
        accept="image/png, image/jpeg"
        (change)="onFileSelected($event)"
      />
    </div>
    <mat-form-field fxFlex="50">
      <mat-label>Vrsta slike</mat-label>
      <mat-select formControlName="type">
        <mat-option value="photo"> Fotografija </mat-option>
        <mat-option value="diagram"> Skica </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="50">
      <mat-label>Naslov ali komentar</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
        autocomplete="off"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    *ngIf="!submitting"
    type="button"
    mat-button
    [mat-dialog-close]="null"
  >
    Prekliči
  </button>
  <button
    *ngIf="!submitting"
    type="submit"
    mat-button
    color="primary"
    cdkFocusInitial
    [disabled]="!fileSelected"
    (click)="submit()"
  >
    Potrdi
  </button>
  <div
    *ngIf="submitting"
    class="w-100"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-spinner diameter="30"></mat-spinner>
  </div>
</mat-dialog-actions>
