@import "../../../styles/colors.scss";

span {
  display: inline-block;
  vertical-align: middle;
}

.grade-modifier {
  &.hard {
    color: $colors-red;
  }
  &.soft {
    color: $colors-green;
  }
  .mat-icon {
    vertical-align: middle;
    margin-left: -3px;
  }
}
