.row {
  // cursor: pointer;

  .routes {
    white-space: nowrap;
    text-align: right;
    margin: -4px 0;
    .mat-button {
      color: #0000008a;
    }
  }
  &.header {
    cursor: default;
    padding-top: 12px;
  }
}

h3 {
  padding-top: 28px;
}
