@import '~@angular/material/theming';


.row {
  // cursor: pointer;
  padding: 6px 2px 6px 10px;

  .routes {
    white-space: nowrap;
    text-align: right;
    margin: -4px 0;

    .mat-button {
      color: #0000008a;
    }
  }

  &.header {
    cursor: default;
    padding-top: 12px;
  }
}

h3 {
  padding-top: 28px;
}

.ascent-type-filler {
  width: 36px;
  display: inline-block;
}

.popover-container {
  position: relative;

  text-align: center;
}

.popover {
  position: absolute;
  bottom: calc(100% + 5px);
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  background: #ffffff;
  text-align: left;
  border: 1px solid #d1d7db;
  padding: 10px;
  @include mat-elevation(5);

  td {
    white-space: nowrap;
  }

  .popover-arrow {
    height: 10px;
    width: 10px;

    background-color: #fff;
    position: absolute;
    bottom: -11px;
    left: 50%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.popover-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.grade-included {
  font-weight: bold;
}

.grade-author {
  padding-right: 20px;
}

.grade {
  width: 50px;
  display: block;
}

.grade-date {
  text-align: right;
}
