<ng-container *ngIf="!loading">
  <div *ngFor="let sector of crag.sectors">
    <h3>
      {{ sector.label }}
      <span>{{ sector.name != "" ? " - " + sector.name : "" }}</span>
    </h3>
    <div class="card">

      <div class="row header route-row" fxLayoutGap="14px">
        <div class="route-checkbox"></div>
        <div class="route-details-container">
          <div class="route-details left" fxLayoutGap="14px">
            <div class="route-name">Ime</div>
            <div *ngIf="!sector.bouldersOnly" class="route-length">Dolžina</div>
            <div class="route-grade">Težavnost</div>
          </div>
          <div class="route-details right" fxLayoutGap="14px">
            <div class="route-icons"></div>
          </div>
        </div>
      </div>

      <div *ngFor="let route of sector.routes">
        <div class="row route-row" fxLayoutGap="14px" (click)="expandRow(route.id)">
          <div class="route-checkbox">
            <mat-checkbox
              (change)="changeSelection(route)"
              [checked]="selectedRoutesIds.indexOf(route.id) > -1"
            >
            </mat-checkbox>
          </div>
          <div class="route-details-container">
            <div class="route-details left" fxLayoutGap="14px">
              <div class="route-name">
                <a
                  [routerLink]="[
                    '/plezalisca/',
                    crag.country.slug,
                    crag.slug,
                    route.slug
                  ]"
                  >{{ route.name }}</a
                >
              </div>
              <div class="route-numbers">
                <div *ngIf="!sector.bouldersOnly" class="route-length">
                  <ng-container *ngIf="route.routeType.id !== 'boulder'"
                    >{{ route.length }} m</ng-container
                  >
                </div>
                <div class="route-grade">
                  <span *ngIf="route.isProject">P</span>
                  <app-grade
                    *ngIf="!route.isProject"
                    [difficulty]="route.difficulty"
                    [modifier]="true"
                    [gradingSystemId]="route.defaultGradingSystem.id"
                  ></app-grade>
                  <div
                    class="popover"
                    *ngIf="false && activeDifficultyVotesPopupId === route.id && !difficultyVotesLoading"
                  >
                    <div class="popover-title">Ocene smeri {{ route.name }}</div>
                    <table>
                      <tbody>
                        <tr
                          *ngFor="let vote of difficultyVotes"
                          [ngClass]="
                            vote.includedInCalculation ? 'difficulty-vote-included' : ''
                          "
                        >
                          <td>
                            <app-grade
                              class="grade"
                              [difficulty]="vote.difficulty"
                            ></app-grade>
                          </td>
                          <td class="difficulty-vote-author">
                            <ng-container *ngIf="vote.isBase"
                              >Bazna ocena</ng-container
                            >
                            <ng-container *ngIf="!vote.isBase && vote.user">{{
                              vote.user.firstname + " " + vote.user.lastname
                            }}</ng-container>
                          </td>
                          <td class="difficulty-vote-date">
                            {{ vote.created | amDateFormat: "D. M. Y" }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="popover-arrow"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="route-details right" fxLayoutGap="14px">
              <div class="route-icons">
                <div *ngIf="route.pitches.length > 0" class="popover-container">
                  <button
                    mat-icon-button
                    color="primary"
                    (mouseenter)="displayRoutePitches(route)"
                    (mouseleave)="hideRoutePitches(route)"
                  >
                    MP
                  </button>
                  <div class="popover" *ngIf="false && activePitchesPopupId === route.id">
                    <div class="popover-title">Raztežaji</div>
                    <div>
                      <text *ngFor="let pitch of route.pitches; let isLast = last"
                        >{{ pitch.difficulty }} {{ isLast ? "" : ", " }}</text
                      >
                    </div>
                  </div>
                  <div class="popover-arrow"></div>
                </div>
                <button *ngIf="route.comments.length > 0" mat-icon-button>
                  <mat-icon>comment</mat-icon>
                </button>
                <app-ascent-type *ngIf="ascents[route.id] != null" [value]="ascents[route.id]" displayType="icon">
                </app-ascent-type>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="expandedRowId === route.id" class="route-expanded-container">
          <p *ngIf="routeCommentsLoading">loading</p>
          <app-distribution-chart [distribution]="gradeDistribution"></app-distribution-chart>
          <app-route-comments *ngIf="!routeCommentsLoading" [comments]="routeComments"></app-route-comments>
        </div>
      </div>
    </div>
  </div>
</ng-container>
