<td *ngIf="displayType != 'activity'">
  {{ route.date | date: "d. M. yyyy" }}
</td>
<td *ngIf="displayType != 'activity'">
  <a [routerLink]="['/plezalisce', route.route.crag.slug]">{{
    route.route.crag.name
  }}</a>
</td>
<td>
  <a
    [routerLink]="[
      '/plezalisce',
      route.route.crag.slug,
      'smer',
      route.route.slug
    ]"
    >{{ route.route.name
    }}{{ route.pitch ? " (R" + route.pitch.number + ")" : "" }}</a
  >
</td>

<td>
  <span *ngIf="route.pitch; else notPitchOnly">
    <span *ngIf="route.pitch.isProject">P</span>
    <app-grade
      *ngIf="!route.pitch.isProject"
      [difficulty]="route.pitch.difficulty"
      [gradingSystemId]="route.route.defaultGradingSystem.id"
      [showModifier]="true"
    ></app-grade>
  </span>
  <ng-template #notPitchOnly>
    <span *ngIf="route.route.isProject">P</span>
    <app-grade
      *ngIf="!route.route.isProject"
      [difficulty]="route.route.difficulty"
      [gradingSystemId]="route.route.defaultGradingSystem.id"
      [showModifier]="true"
    ></app-grade>
  </ng-template>
</td>
<td>
  <app-ascent-type [value]="route.ascentType"></app-ascent-type>
</td>
<td>
  <app-ascent-publish-option
    [value]="route.publish"
  ></app-ascent-publish-option>
</td>
<td *ngIf="rowAction" class="tools">
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button
      *ngIf="route.activity && displayType != 'activity'"
      mat-menu-item
      [routerLink]="['/plezalni-dnevnik', route.activity.id]"
    >
      <span>Odpri plezalni dan</span>
    </button>
    <button
      mat-menu-item
      (click)="rowAction.next({ item: route, action: 'filterByRoute' })"
    >
      <span>Vsi vzponi za to smer</span>
    </button>
    <button
      mat-menu-item
      (click)="rowAction.next({ item: route, action: 'filterByCrag' })"
    >
      <span>Vsi vzponi v tem plezališču</span>
    </button>
    <!-- <button mat-menu-item>
      <span>Uredi vzpon</span>
    </button> -->
    <button
      mat-menu-item
      (click)="rowAction.next({ item: route, action: 'delete' })"
    >
      <span>Odstrani vzpon</span>
    </button>
  </mat-menu>
</td>
