<div
  class="padding comment {{ commentType }}"
  [ngClass]="{ card: !previewMode, preview: previewMode }"
  fxLayout="column"
  fxLayoutGap="8px"
>
  <div fxFlex [innerHTML]="comment.content"></div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end center" class="author">
    <div [class.actions]="isAuthor">
      {{ comment.user?.fullName }},
      {{ comment.created | date: "d. M. yyyy HH:mm"
      }}<ng-container *ngIf="comment.updated != comment.created">
        , zadnja sprememba: {{ comment.updated | date: "d. M. yyyy HH:mm" }}
      </ng-container>
      <app-comment-options
        *ngIf="isAuthor"
        [comment]="comment"
      ></app-comment-options>
    </div>
  </div>
</div>
