@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

.comment.card {
  margin-bottom: 16px;
}

.condition {
  margin-bottom: 16px;
  border-left-color: $accent;
}

.author {
  color: $gray-dark;
  margin-bottom: -4px;
  > .actions {
    margin: -8px;
  }
}
