@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

.comment {
  margin-bottom: 16px;
}
.condition {
  margin-bottom: 16px;
  border-left-color: $accent;
}

.preview {
  margin-bottom: 0;
}

.author {
  color: $gray;
  margin-bottom: -4px;
  > .actions {
    margin: -8px;
  }
}
