<div class="white-back mt-16">
  <div class="container py-8">
    <h1>Dnevnik sprememb</h1>
  </div>
</div>

<div class="container mt-16">
  <mat-card>
    <div class="date">2. 7. 2022</div>
    <h2>Dodajanje prispevkov</h2>
    <p>
      Odslej lahko vsi_e uporabniki_ce v bazo prispevate plezališča, sektorje in
      smeri (velja tako za tujino kot za Slovenijo). Tvoje prispevke bo pred
      objavo moral potrditi nekdo z uredništva, svoje vzpone v dodanih smereh pa
      lahko kljub temu začneš beležiti takoj.
    </p>
    <p>
      Postopek dodajanja prispevkov je podrobneje opisan
      <a
        href="/navodila/dodajanje-prispevkov"
        target="_blank"
        rel="noreferrer noopener"
        >tukaj</a
      >.
    </p>
  </mat-card>

  <mat-card>
    <div class="date">4. 6. 2022</div>
    <h2>
      Število vzponov, lepota smeri in poljubni stolpci ter razvrščanje in
      filtriranje smeri v seznamu
    </h2>
    <p>Na seznam smeri smo dodali naslednje podatke o smereh:</p>
    <ul>
      <li>število vseh uspešnih vzponov v smeri,</li>
      <li>število vseh poskusov v smeri (uspešnih in neuspešnih),</li>
      <li>
        število vseh plezalcev, ki so (uspešno ali neuspešno) plezali smer,
      </li>
      <li>lepota smeri (zvezdice).</li>
    </ul>
    <p>
      Stolpce seznama lahko poljubno prikažeš ali skriješ tako, da jih označiš
      ali odznačiš v spustnem seznamu.
    </p>
    <p>
      Seznam smeri lahko razvrstiš po kateremkoli stolpcu s klikom na ime
      stolpca (na večjih zaslonih) ali z izbiro iz spustnega seznama (na manjših
      zaslonih).
    </p>
    <p>
      Na večjih plezališčih, kjer so seznami smeri dolgi, lahko iskano smer
      odslej hitro poiščeš tako, da del imena smeri vneseš v iskalno polje nad
      seznamom.
    </p>
  </mat-card>

  <mat-card>
    <div class="date">12. 5. 2022</div>
    <h2>Glasovanje o težavnosti in lepoti smeri</h2>
    <p>
      Mnenje o težavnosti smeri (predlog ocene) lahko odslej podaš tudi kadar
      zabeležiš vzpon z vidnostjo 'samo zame' ali 'samo za prijatelje'.
    </p>
    <p>
      Mnenje o lepoti smeri (zvezdice) lahko odslej podaš tudi kadar zabeležiš
      neuspešen vzpon v smeri.
    </p>
    <p>
      Tvoje mnenje o težavnosti smeri in tvoje mnenje o lepoti smeri bosta vedno
      javno objavljena, ne glede na izbrano vidnost zabeleženega vzpona.
    </p>
  </mat-card>

  <mat-card>
    <div class="date">12. 4. 2022</div>
    <h2>Preverjanje tipov vzponov</h2>
    <p>
      Kadar v plezalni dnevnik vnašaš plezalni dan 'za nazaj' se lahko zgodi, da
      pri vnosu izbereš tip vzpona, ki ni združljiv s tipi vzponov na vzponih,
      ki jih imaš za to smer že zabeležene v dnevniku.
    </p>
    <p>
      Dodali smo avtomatiko, ki v takih primerih kasnejše tipe vzponov ustrezno
      spremeni. Pred tem se v pojavnem oknu pokažejo nameravane spremembe, ki
      jih moraš potrditi.
    </p>
    <p>
      Na primer: Za dan 10. 4. 2022 vnašaš vzpon v smeri <i>Steber</i> s tipom
      vzpona 'na pogled'. V dnevniku imaš na dan 11. 4. 2022 že zabeležen vzpon
      v smeri <i>Steber</i> in sicer s tipom vzpona 'flash'. Vzpon tipa 'flash'
      <u>za</u>
      vzponom tipa 'na pogled' seveda ni možen zato se ob vnosu prikaže pojavno
      okno z obvestilom, da se bo vzpon tipa 'flash' avtomatsko spremenil v
      vzpon tipa 'ponovitev'.
    </p>
    <p>
      <img src="/assets/changelog/sprememba-tipov-vzponov.png" />
    </p>
  </mat-card>
  <mat-card>
    <div class="date">26. 3. 2022</div>
    <h2>Kaj je novega?</h2>
    <h3>Obiskanost po mesecih</h3>
    <p>
      Na stran plezališča smo dodali graf, ki prikazuje razmerje vnešenih
      vzponov v tem plezališču glede na mesec v letu - da bo lažje predvideti, v
      kateri sezoni se splača plezališče obiskati. V prihodnje nameravamo iz teh
      podatkov pridobiti tudi seznam priporočenih plezališč za trenutno obdobje
      na prvi strani in podoben prikaz na nivoju sektorja ali smeri.
    </p>
    <h3>Plezalni dnevnik na plezališčih</h3>
    <p>
      Plezalni dnevnik smo integrirali že v pogled plezališča. Pri vsaki smeri
      se pojavi indikator, ki ponazarja, če si to smer že kdaj preplezal_a.
      Preplezane smeri si lahko obkljukaš kar na seznamu, nato pa jih z gumbom
      preneseš v obrazec za vnos v dnevnik. Na njem izbereš na kakšen način si
      preplezal smeri, jim predlagaš oceno, lepoto in ostale podatke. Z gubom
      lahko smeri tudi ponoviš, če si jih v istem dnevu preplezal_a večkrat. Če
      vnašaš smeri za nazaj, jih je možno vnesti tudi brez vnosa plezalnega
      dneva. V tem primeru lahko datum nastavljaš pri vsaki posamezni smeri v
      seznamu.
    </p>
    <h3>Opozorila</h3>
    <p>
      Na pomembna opozorila, ki se objavljajo na plezališčih, smo dodali možnost
      izpostavljanja na prvi strani s časovno omejitvijo. Tako bodo pomembna
      obvestila težje spregledana. V načrtu imamo še možnost arhiviranja
      opozoril. Opozorilo lahko na plezališče doda vsak uporabnik, menu za
      dodajanje je na desni strani vrstice z naslovom plezališča.
    </p>
    <h3>Tipi vzponov</h3>
    <p>
      Dodali smo nov tip vzpona - ponovitev. Kot ponovitev se šteje vsak uspešen
      vzpon v smeri, ki si jo pred tem že preplezal_a na pogled, flash ali z
      rdečo piko. Zaradi konsistenosti baze podatkov, so se tudi obstoječe
      ponovljene rdeče pike spremenile v ponovitve.
    </p>
    <h3>Iskalnik</h3>
    <p>
      Na prvo stran smo dodali iskalnik, s katerim lahko hkrati iščeš po
      plezališčih, smereh, sektorjih ali komentarjih. Rezultati iskanja se
      prikazujejo že med samim vnašanjem in s klikom nanje lahko tudi preskočiš
      stran s strukturiranim izpisom zadetkov ter tako še hitreje prispeš na
      ciljno stran.
    </p>
    <h3>Moji klubi</h3>
    <p>
      Na stran uporabniškega profila (dostopna preko glavnega menija, kadar si
      prijavljen_a) smo dodali podstran Moji klubi. Tu lahko ustvariš svoj klub
      in vanj povabiš druge uporabnike portala plezanje.net. Klubi so pravzaprav
      skupine, ki omogočajo deljenje vzponov med člani iste skupine. Vsi vzponi,
      ki jih v plezalni dnevnik vneseš kot Samo za prijatelje bodo vidni vsem
      članom klubov katerih član si (ne bodo pa javno objavljeni). Uporabniki
      starega plezanje.net to sekcijo morda poznate pod imenom Moj ferajn.
    </p>
    <h3>Ocenjevanje težavnosti</h3>
    <p>
      Algoritem za izračun povprečne ocene smeri iz glasov uporabnikov je ostal
      povsem enak kot na starem plezanje.net (razlaga algoritma je dostopna
      <a
        href="https://plezanje.net/storage/IzracunOcen.pdf"
        target="_blank"
        rel="noreferrer noopener"
        >tukaj</a
      >). Nekoliko smo poenostavili le glasovanje o ocenah, in sicer tako, da je
      odslej mogoče glas podati le v “polnih” ocenah (npr. 6a, 6a+, 6b...) in
      nič več v “polovičkah” (npr. 6a/a+, 6a+/b, 6b+/c...).
    </p>
    <p>
      Ker smo iz stare baze prenesli tudi glasove, ki so bili podani v
      “polovičkah”, se ti v takšni obliki še vedno prikazujejo na seznamu glasov
      o težavnosti smeri. Kljub temu, da so vmesne ocene izvzete iz glasovanja,
      se zavedamo kako pomembno je vedeti katera 7a velja za težko in katera 6a
      za lahko, zato smo v teh primerih oceno opremili z dodatno oznako
      (<mat-icon class="grade-modifier hard">arrow_drop_up</mat-icon> težka,
      <mat-icon class="grade-modifier soft">arrow_drop_down</mat-icon> lahka).
    </p>
  </mat-card>

  <mat-card>
    <div class="date">26. 3. 2022</div>
    <h2>Vesela novica! Prenovili smo plezanje.net!</h2>
    <p>
      Zaradi nevarnosti po izgubi našega najljubšega portala, je v zadnjih letih
      naša skromna ekipa združila moči in zagrizla v prenos na novejšo
      tehnologijo in strežnike. Poskrbeli smo, da so naši plezalni dnevniki,
      predlagane ocene in komentarji ostali nedotaknjeni, uredili smo možnost
      registracije in prijave ter dodali nekaj dodatnih funkcionalnosti, ki bodo
      pripomogle k boljši uporabniški izkušnji.
    </p>
    <p>
      Za prihodnost imamo še velike načrte, zato bomo kakršnegakoli odziva ali
      pomoči zelo veseli.
      <br />
      Več o spletnem mestu, naši ekipi in o tem, kako lahko postaneš del nje, si
      preberi na strani
      <a [routerLink]="['/o-plezanje-net']">o plezanje.net</a>.
    </p>
    <p>
      Želimo ti veliko preplezanih smeri in vnesenih vzponov! 🙂
      <br />
      Ekipa plezanje.net
    </p>
    <p>
      p.s. Če se morda želite v miru posloviti od stare plezanje.net, bo ta še
      nekaj časa dostopna na
      <a
        href="https://star.plezanje.net"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >star.plezanje.net</a
      >
      (v načinu <i>samo za branje</i>).
    </p>
  </mat-card>
</div>
