<mat-dialog-content>
  <p>
    {{ data.message }}
  </p>
  <form [formGroup]="loginForm" (submit)="login()">
    <p>
      <mat-form-field class="no-hint">
        <mat-label>E-naslov</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Geslo</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-hint align="end"
          ><a href="#" (click)="passwordRecovery()"
            >Pozabljeno geslo?</a
          ></mat-hint
        >
      </mat-form-field>
    </p>

    <p fxLayout="row" fxLayoutAlign="center center" class="login-button">
      <button
        *ngIf="!loading"
        mat-flat-button
        color="primary"
        [disabled]="!loginForm.valid"
      >
        PRIJAVA
      </button>
      <span *ngIf="loading" class="loading">
        <mat-spinner diameter="30"></mat-spinner>
      </span>
    </p>
  </form>

  Še nimaš uporabniškega računa?<br />
  <a [routerLink]="['/registracija']" mat-dialog-close>Registriraj se</a>
</mat-dialog-content>
