.mat-dialog-content {
  text-align: center;
  max-width: 360px;
}
.mat-form-field {
  width: 100%;
}
.mat-flat-button {
  width: 100%;
}
.mat-hint a {
  text-decoration: none;
}
form {
  padding: 16px 0px;
}
.login-button {
  height: 32px;
}
