<div class="white-back mt-16">
  <div class="container py-8">
    <h1>Zgodovina predlaganih ocen</h1>
  </div>
</div>

<app-data-error *ngIf="error" [error]="error"></app-data-error>

<ng-template #route let-vote="vote">
  <a
    [routerLink]="[
      '/plezalisce',
      vote.route.crag.slug,
      'smer',
      vote.route.slug
    ]"
  >
    {{ vote.route.name }}
  </a>
</ng-template>

<ng-template #crag let-vote="vote">
  <a [routerLink]="['/plezalisce', vote.route.crag.slug]">
    {{ vote.route.crag.name }}</a
  >
</ng-template>

<ng-template #date let-vote="vote">
  <span>{{ vote.created | date: "d. M. yyyy" }}</span>
</ng-template>

<ng-template #user let-vote="vote">
  <span>{{ vote.user.fullName }}</span>
</ng-template>

<ng-template #avgGrade let-vote="vote">
  <app-grade
    [difficulty]="vote.route.difficulty"
    [gradingSystemId]="vote.route.defaultGradingSystem.id"
    [showModifier]="true"
  >
  </app-grade>
</ng-template>

<ng-template #proposedGrade let-vote="vote">
  <app-grade
    [difficulty]="vote.difficulty"
    [gradingSystemId]="vote.route.defaultGradingSystem.id"
    [showModifier]="false"
  >
  </app-grade>
</ng-template>

<ng-template #directionIndicator let-vote="vote">
  <mat-icon inline>{{
    vote.difficulty > vote.route.difficulty + 25
      ? "north_east"
      : vote.difficulty < vote.route.difficulty - 25
      ? "south_east"
      : "east"
  }}</mat-icon>
</ng-template>

<ng-container *ngIf="!error">
  <div class="container mt-16">
    <div class="card has-loader scrollable-table">
      <div class="card-loader" *ngIf="loading">
        <app-loader></app-loader>
      </div>
      <div fxShow.lt-md fxHide class="row" *ngFor="let vote of difficultyVotes">
        <div class="date">
          <ng-container
            *ngTemplateOutlet="date; context: { vote: vote }"
          ></ng-container>
        </div>
        <div>
          <ng-container
            *ngTemplateOutlet="user; context: { vote: vote }"
          ></ng-container>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="8px"
        >
          <div>
            <ng-container
              *ngTemplateOutlet="crag; context: { vote: vote }"
            ></ng-container
            >,
            <ng-container
              *ngTemplateOutlet="route; context: { vote: this.vote }"
            ></ng-container>
          </div>
          <div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
              <div class="grade">
                <ng-container
                  *ngTemplateOutlet="avgGrade; context: { vote: vote }"
                ></ng-container>
              </div>
              <div class="direction">
                <ng-container
                  *ngTemplateOutlet="
                    directionIndicator;
                    context: { vote: vote }
                  "
                ></ng-container>
              </div>
              <div class="grade">
                <ng-container
                  *ngTemplateOutlet="proposedGrade; context: { vote: vote }"
                ></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="card-table" fxHide.lt-md>
        <tr class="row header">
          <td>Datum</td>
          <td>Uporabnik_ca</td>
          <td>Plezališče</td>
          <td>Smer</td>
          <td>Povp. ocena</td>
          <td>Predlagana ocena</td>
        </tr>
        <tr *ngFor="let vote of difficultyVotes" class="row">
          <td>
            <ng-container
              *ngTemplateOutlet="date; context: { vote: vote }"
            ></ng-container>
          </td>
          <td>
            <ng-container
              *ngTemplateOutlet="user; context: { vote: vote }"
            ></ng-container>
          </td>
          <td>
            <ng-container
              *ngTemplateOutlet="crag; context: { vote: vote }"
            ></ng-container>
          </td>
          <td>
            <ng-container
              *ngTemplateOutlet="route; context: { vote: vote }"
            ></ng-container>
          </td>
          <td>
            <ng-container
              *ngTemplateOutlet="avgGrade; context: { vote: vote }"
            ></ng-container>
          </td>
          <td>
            <ng-container
              *ngTemplateOutlet="proposedGrade; context: { vote: vote }"
            ></ng-container>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      *ngIf="pagination != null"
      hidePageSize
      showFirstLastButtons
      [length]="pagination.itemCount"
      [pageIndex]="pagination.pageNumber - 1"
      [pageSize]="pagination.pageSize"
      (page)="filteredTable.paginate($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
