<app-data-error *ngIf="error" [error]="error"></app-data-error>

<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!error && !loading">
  <h1>
    <div class="container p15" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="100">{{ club.name }}</div>

      <div *ngIf="clubService.amClubAdmin$ | async">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addMember()">
            <mat-icon>post_add</mat-icon>
            <span>Dodaj člana</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </h1>

  <div class="container">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        [routerLink]="['/moj-profil/moji-klubi', club.id, 'clani']"
        routerLinkActive
        #rlaM="routerLinkActive"
        [active]="rlaM.isActive"
        >Člani kluba</a
      >
      <a
        mat-tab-link
        [routerLink]="['/moj-profil/moji-klubi', club.id, 'vzponi']"
        routerLinkActive
        #rlaAr="routerLinkActive"
        [active]="rlaAr.isActive"
        >Vzponi članov</a
      >
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
