<div fxLayout="column" fxLayoutGap="12px" [formGroup]="route">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="100" fxLayout="row" fxLayoutGap="12px">
      <ng-container *ngIf="route.value.routeId">
        <a [routerLink]="['/plezalisca', crag.country.slug, crag.slug, route.value.routeId]" class="route-name">{{ route.value.name }} </a>
        <app-grade
          [grade]="route.value.grade"
          [text]="route.value.difficulty"
          [showModifier]="true"
        >
        </app-grade>
      </ng-container>
      <ng-container *ngIf="!(route.value.routeId != null)">
        <mat-form-field class="custom-route" fxFlex="100">
          <mat-label>Ime smeri</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </ng-container>
    </div>
    <div fxFlex class="tools">
      <button
        type="button"
        mat-icon-button
        (click)="move.emit(2)"
        [disabled]="route.disabled"
        matTooltip="Dodaj ponovitev"
      >
        <mat-icon>control_point_duplicate</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        *ngIf="!first"
        (click)="move.emit(-1)"
        [disabled]="route.disabled"
        matTooltip="Premakni navzgor"
      >
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        *ngIf="!last"
        (click)="move.emit(1)"
        [disabled]="route.disabled"
        matTooltip="Premakni navzdol"
      >
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <button
        type="button"
        mat-icon-button
        (click)="move.emit(0)"
        [disabled]="route.disabled"
        matTooltip="Odstrani"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="12px" fxLayout.lt-md="column">
    <div fxFlex="60" fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutGap="12px grid">
        <div fxFlex="25" fxLayout="column" fxLayoutAlign="start stretch">
          <mat-form-field class="no-hint">
            <mat-label>Vrsta vzpona</mat-label>
            <mat-select formControlName="ascentType">
              <mat-option *ngFor="let type of nonTopRopeAscentTypes" [value]="type.value"
                >{{ type.label }}
              </mat-option>
              <mat-optgroup label="Top rope">
                <mat-option *ngFor="let type of topRopeAscentTypes" [value]="type.value"
                  >{{ type.label }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field class="no-hint" fxFlex="25">
          <mat-label>Lepota</mat-label>
          <mat-select formControlName="stars">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
          </mat-select>
        </mat-form-field>

        <app-grade-select class="no-hint" fxFlex="25" [control]="route.controls.gradeSuggestion" label="Predlog ocene"></app-grade-select>

        <mat-form-field class="no-hint" fxFlex="25">
          <mat-label>Objava</mat-label>
          <mat-select formControlName="publish">
            <mat-option
              *ngFor="let option of publishOptions"
              [value]="option.value"
              >{{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxHide.lt-md></div>
      <div fxFlex fxLayout="row" fxLayoutGap="12px" *ngIf="!activity">
        <mat-form-field class="no-hint" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="no-hint" fxFlex="50">
          <mat-label>Soplezalec</mat-label>
          <input matInput type="text" formControlName="partner" />
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="40" fxLayout="column">
      <mat-form-field fxFlex="100" class="no-hint">
        <mat-label>Komentar</mat-label>
        <textarea
          matInput
          formControlName="notes"
          [rows]="activity ? 3 : 6"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
