<mat-dialog-content *ngIf="!success">
    <p>
        Vnesite svoj e-mail in nanj bomo poslali povezavo za menjavo gesla.
    </p>
    <form [formGroup]="passwordForm" (submit)="recover()">

        <p>
            <mat-form-field class="no-hint">
                <mat-label>E-naslov</mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
        </p>

        <p fxLayout="row" fxLayoutAlign="center center" class="login-button">
            <button *ngIf="!loading" mat-flat-button color="primary" [disabled]="!passwordForm.valid">POŠLJI POVEZAVO</button>
            <span *ngIf="loading" class="loading">
                <mat-spinner diameter="30"></mat-spinner>
            </span>
        </p>
    </form>

    Še nimate uporabniškega računa?<br>
    <a [routerLink]="['/registracija']" mat-dialog-close>Registrirajte se</a>
</mat-dialog-content>
<mat-dialog-content *ngIf="success">
    <p>Na vnešeni e-naslov smo poslali povezavo za menjavo gesla.</p>
    <p>Če sporočila ne najdete, za vsak slučaj preverite nezaželeno pošto.</p>
    <a href="#" (click)="false" mat-dialog-close>Zapri</a>
</mat-dialog-content>