<mat-dialog-content>
    <p>
        Vnesite svoj e-mail in nanj bomo poslali povezavo za resetiranje gesla.
    </p>
    <form [formGroup]="passwordForm" (submit)="recover()">

        <p>
            <mat-form-field class="no-hint">
                <mat-label>E-naslov</mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
        </p>

        <p>
            <button mat-flat-button color="primary" [disabled]="!passwordForm.valid">POŠLJI POVEZAVO</button>
        </p>
    </form>

    Še nimate uporabniškega računa?<br>
    <a [routerLink]="['/registracija']" mat-dialog-close>Registrirajte se</a>
</mat-dialog-content>