<div *ngIf="!loading">
  <h1>
    <div class="container p15" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="100">{{ heading }}</div>
    </div>
  </h1>

  <div class="container p15">
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs>
      <mat-tab label="Podatki o plezališču">
        <ng-template matTabContent>
          <app-crag-form [crag]="crag"></app-crag-form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Sektorji in smeri" [disabled]="crag == null">
        <ng-template matTabContent>
          <div *ngFor="let sector of crag.sectors; let i = index">

            <h3>Sektor #{{ i+1 }}</h3>
            <app-sector-form [sector]="sector"></app-sector-form>

            <div class="routes">
              <div *ngFor="let route of sector.routes">
                <app-route-form [route]="route"></app-route-form>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>


</div>
