<div *ngIf="crag.images.length > 0" class="card no-border">
  <img
    [srcset]=""
    [srcset]="
      storageUrl +
      '/images/300/' +
      crag.images[0].path +
      ' 300w, ' +
      storageUrl +
      '/images/600/' +
      crag.images[0].path +
      ' 600w'
    "
    sizes="
        (max-width: 1239px) 276.97px,
        (max-width: 1439px) calc(33.33vw - 145.32px),
        334.63px"
    [src]="storageUrl + '/images/600/' + crag.images[0].path"
    [alt]="crag.images[0].title"
  />
  <!-- TODO: Should have crag-cover-image field on crag instead of simply displaying first image? -->
</div>
