<header>
  <div
    class="container ptb-16"
    fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutAlign="space-between"
  >
    <div
      class="logo-and-burger"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <a class="logo-link" [routerLink]="['/']">
        <img src="/assets/logo.gif" width="212" height="30" />
      </a>

      <button mat-icon-button fxHide.gt-md (click)="toggleNavi()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <nav
      fxLayout="column"
      fxLayoutAlign="start end"
      fxLayout.gt-md="row"
      fxLayoutAlign.gt-md="center center"
      [fxHide]="!naviOpen"
      fxShow.gt-md
    >
      <a mat-button [routerLink]="['/']">Domov</a>
      <a mat-button [routerLink]="['/plezalisca/slovenija']">Plezališča</a>
      <a mat-button [routerLink]="['/plezalni-dnevnik']">Plezalni dnevnik</a>
      <a
        mat-icon-button
        fxHide
        fxShow.gt-md
        matTooltip="Moj Plezanje.net"
        [routerLink]="['/moj-profil']"
      >
        <mat-icon>account_circle</mat-icon>
      </a>
      <a mat-button fxHide.gt-md>Moj Plezanje.net</a>
    </nav>
  </div>
</header>
