@import "../../../styles/colors.scss";

header {
  border-bottom: 3px solid $primary;
  background: #fff;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);

  div.logo-and-burger {
    min-height: 40px; // same as the height of the hamburger icon
    a.logo-link {
      width: 212px;
      height: 30px;
    }
  }

  nav {
    a:hover {
      color: $primary;
    }
  }
}
