<header>
  <div
    class="container py-16"
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="space-between"
  >
    <div
      class="logo-and-burger"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <a class="logo-link" [routerLink]="['/']">
        <img src="/assets/logo.gif" width="212" height="30" />
      </a>

      <button mat-icon-button fxHide.gt-sm (click)="toggleNavi()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <nav
      fxLayout="column"
      fxLayoutAlign="start end"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="center center"
      [fxHide]="!naviOpen"
      fxShow.gt-sm
    >
      <a mat-button [routerLink]="['/']">Domov</a>
      <a mat-button [routerLink]="['/plezalisca/slovenija', { tip: 'sportne' }]"
        >Plezališča</a
      >

      <a mat-button [matMenuTriggerFor]="alpinismMenu">Alpinizem</a>

      <a mat-button [routerLink]="['/plezalni-dnevnik/vzponi']"
        >Plezalni dnevnik</a
      >
      <a *ngIf="!(user != null)" mat-button (click)="login()">Prijava</a>
      <a
        *ngIf="user != null"
        mat-icon-button
        fxHide
        fxShow.gt-sm
        [matMenuTriggerFor]="authMenu"
      >
        <mat-icon>account_circle</mat-icon>
      </a>
      <a
        *ngIf="user != null"
        mat-button
        fxHide.gt-sm
        [routerLink]="['/moj-profil']"
        >Moj profil</a
      >
      <a *ngIf="user != null" mat-button fxHide.gt-sm (click)="logout()"
        >Odjava</a
      >
    </nav>
  </div>
</header>

<mat-menu #alpinismMenu="matMenu">
  <a mat-menu-item [routerLink]="['/alpinizem/slapovi']">Slapovi</a>
  <a mat-menu-item [routerLink]="['/alpinizem/vrhovi/drzave']">Vrhovi</a>
</mat-menu>

<mat-menu #authMenu="matMenu">
  <button mat-menu-item disabled>{{ user?.fullName }}</button>
  <a mat-menu-item [routerLink]="['/moj-profil']">Moj profil</a>
  <button mat-menu-item (click)="logout()">
    <span>Odjava</span>
  </button>
</mat-menu>
