<div class="white-back mt-16">
  <div class="container py-8">
    <h1>{{ title }}</h1>
  </div>
</div>

<app-data-error *ngIf="error" [error]="error"></app-data-error>

<app-loader *ngIf="loading"></app-loader>

<ng-container *ngIf="!error && !loading">
  <ng-container *ngIf="type == 'view'">
    <div class="container mt-16">
      <div
        class="card padding no-border description"
        *ngIf="activity.partners || activity.duration || activity.notes"
      >
        <p *ngIf="activity.partners">
          <b>Soplezalci:</b> {{ activity.partners }}
        </p>
        <p *ngIf="activity.duration">
          <b>Trajanje:</b> {{ activity.duration }}min
        </p>
        <p>{{ activity.notes }}</p>
      </div>
    </div>
    <div class="container mt-16" *ngIf="activity.routes.length > 0">
      <app-activity-entry-routes
        [routes]="activity.routes"
      ></app-activity-entry-routes>
    </div>
  </ng-container>

  <div class="container mt-16" *ngIf="type == 'edit'">
    <app-activity-form
      [activity]="activity"
      [crag]="activity.crag"
      [iceFall]="activity.iceFall"
      [peak]="activity.peak"
      formType="edit"
    ></app-activity-form>
  </div>
</ng-container>
