<div class="container p15">
  <h2>Opozorila</h2>

  <div class="carousel-outer-wrap">
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
      (beforeChange)="onSlickBeforeChange()"
      (init)="onSlickInit()"
    >
      <div ngxSlickItem class="slide" *ngFor="let warning of warnings">
        <div class="slide-inner-wrap">
          <mat-card class="warning">
            <mat-card-title>
              <ng-container *ngIf="warning.route">
                <a
                  [routerLink]="[
                    '/plezalisca',
                    warning.route.crag.country.slug,
                    warning.route.crag.slug,
                    warning.route.id
                  ]"
                  >{{ warning.route.name }}</a
                >,
                {{ warning.route.crag.name }}
              </ng-container>
              <ng-container *ngIf="warning.crag">
                <a
                  [routerLink]="[
                    '/plezalisca',
                    warning.crag.country.slug,
                    warning.crag.slug,
                    { tab: 'komentarji' }
                  ]"
                >
                  {{ warning.crag.name }}
                </a>
              </ng-container>
            </mat-card-title>
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="space-between" fxFlexFill>
                <div [innerHTML]="warning.content" fxFlex="100"></div>
                <div class="author" fxFlex="100">
                  {{ warning.user.fullName }},
                  {{ warning.updated | amDateFormat: "D.M.Y H:mm" }}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
