<div class="card no-border">
  <div
    class="row"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    *ngIf="!hideGrade"
  >
    <div class="label">Težavnost</div>
    <span class="text-right">
      <span *ngIf="route.isProject">P</span>
      <app-grade
        *ngIf="!route.isProject"
        [difficulty]="route.difficulty"
        [gradingSystemId]="route.defaultGradingSystem.id"
        [showModifier]="true"
      ></app-grade>
    </span>
  </div>
  <div
    class="row"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    *ngIf="route.pitches.length > 0"
  >
    <div class="label">Raztežaji</div>
    <span>
      <text *ngFor="let pitch of route.pitches; let isLast = last"
        ><span *ngIf="pitch.isProject">P</span>
        <app-grade
          *ngIf="!pitch.isProject"
          [difficulty]="pitch.difficulty"
          [gradingSystemId]="route.defaultGradingSystem.id"
          [showModifier]="true"
        ></app-grade
        >{{ isLast ? "" : ", " }}</text
      >
    </span>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Dolžina</div>
    <span class="text-right"> {{ route.length }} m </span>
  </div>
  <div
    class="row"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    *ngFor="let event of route.routeEvents"
  >
    <div class="label">{{ eventTypeMap[event.eventType] }}</div>
    <span class="text-right"
      >{{ event.author }} ({{
        event.eventDate | date: (event.showFullDate ? "d. M. Y" : "Y")
      }})
    </span>
  </div>
  <div *ngFor="let property of route.properties" class="row">
    <app-info-property [property]="property"></app-info-property>
  </div>
</div>

<div class="card padding">
  <h4>Ocene uporabnikov</h4>
  <app-distribution-chart
    class="difficulty-votes-chart"
    [distribution]="gradesDistribution"
  ></app-distribution-chart>
  <app-route-grades
    [grades]="grades"
    [difficulty]="route.difficulty"
    [gradingSystemId]="route.defaultGradingSystem.id"
  ></app-route-grades>
</div>

<div class="card no-border">
  <h2>Popularnost smeri</h2>
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Število uspešnih vzponov</div>
    <span class="text-right">{{ route.nrTicks }}</span>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Število poskusov v smeri</div>
    <span class="text-right">{{ route.nrTries }}</span>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Število plezalcev</div>
    <span class="text-right">{{ route.nrClimbers }}</span>
  </div>
</div>
