<mat-card>
  <div fxLayout="column"
       fxLayoutAlign="start start"
       fxLayoutGap="8px">
    <div *ngIf="route.description">
      <strong>Opis:</strong> {{ description }}
    </div>
    <div *ngIf="author">
      <strong>Avtor:</strong> {{ author }}
    </div>
    <div *ngIf="firstAscent">
      <strong>Prvi vzpon:</strong> {{ firstAscent }}
    </div>
    <div>
      <strong>Ocene:</strong>
    </div>
    <app-distribution-chart [distribution]="gradesDistribution"
                            fxFlexAlign="stretch"></app-distribution-chart>
    <app-route-grades fxFlexAlign="stretch"
                      [grades]="grades"
                      [difficulty]="route.difficulty"></app-route-grades>
  </div>
</mat-card>
