@import "../../../../styles/colors.scss";

.card {
  margin-bottom: 16px;
  overflow: auto;
}

.label {
  color: $text-gray;
}

.row {
  font-weight: 500;
}

.row:first-child {
  min-height: 54px;
}

.difficulty-votes-chart {
  display: block;
  margin-bottom: 8px;
}

h2 {
  font-size: 16px;
  color: black;
  margin-left: 14px;
  font-weight: 400;
  margin-top: 16px;
}

.description {
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 8px;
}
