.mat-dialog-content {
  text-align: center;
  max-width: 360px;
}
.mat-form-field {
  width: 100%;
}
.mat-flat-button {
  width: 100%;
}
form {
  padding-top: 16px;
}

.button-w-loading {
  margin-top: 16px;
}

.loading {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}
