<div class="title">
  {{ crag.country.name }}{{ crag.area ? ", " + crag.area.name : "" }}
</div>

<div class="title">Usmerjenost</div>
<div class="content">{{ crag.orientation | orientation }}</div>

<ng-container *ngIf="crag.lat && crag.lon">
  <div class="title">Koordinate</div>
  <div class="content">
    {{ crag.lat | number: "1.5-5" }},<br />
    {{ crag.lon | number: "1.5-5" }}
  </div>
</ng-container>

<div class="map">
  <app-map [height]="260" [crag]="crag" [crags]="crags$" [id]="id"></app-map>
</div>

<div *ngIf="crag.access">
  <div class="title">Dostop</div>
  <div class="content" [innerHTML]="crag.access"></div>
</div>
