<div class="title">
  {{ crag.country.name }}{{ crag.area ? ", " + crag.area.name : "" }}
</div>

<div class="title">Usmerjenost</div>
<div class="content">jugovzhod</div>

<div class="title">Koordinate</div>
<div class="content">
  {{ crag.lat }},<br />
  {{ crag.lon }}
</div>

<div class="map">
  <app-map [height]="260" [crag]="crag" [crags]="crags$" [id]="id"></app-map>
</div>

<div *ngIf="crag.access">
  <div class="title">Dostop</div>
  <div class="content" [innerHTML]="crag.access"></div>
</div>
