<mat-form-field class="w-100">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="control">
    <mat-option>
      <ngx-mat-select-search
        [formControl]="gradeFilterControl"
        placeholderLabel="Vnesi oceno"
        noEntriesFoundLabel="Ocena ne obstaja"
      ></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngIf="!gradeFilterControl.value" [value]="null">{{
      emptyText
    }}</mat-option>
    <mat-option
      *ngFor="let grade of filteredGrades"
      [value]="grade.difficulty"
      >{{ grade.name }}</mat-option
    >
  </mat-select>
</mat-form-field>
