<app-data-error *ngIf="error" [error]="error"></app-data-error>

<div *ngIf="!error">
  <div class="white-back mt-16">
    <div
      class="container py-8"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <h1>
        Plezališča<ng-container *ngIf="country">
          - {{ country.name }}</ng-container
        >
      </h1>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          [routerLink]="['/dodaj-plezalisce', { country: country?.id }]"
        >
          <mat-icon>add</mat-icon>
          <span>Dodaj plezališče</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <app-loader *ngIf="loading"></app-loader>

  <div
    class="crag-map-container mt-16"
    *ngIf="!loading && country.code == 'SI'"
  >
    <div class="crag-map">
      <app-map [crags]="crags$"></app-map>
    </div>
  </div>

  <div
    class="container mt-16"
    fxLayout="row"
    fxLayoutGap="12px"
    *ngIf="!loading"
    fxLayout.lt-md="column"
  >
    <div fxFlex="320px" fxFlex.lt-md>
      <app-crags-toc [country]="country"></app-crags-toc>
    </div>

    <div fxFlex="100" fxFlex.lt-md>
      <app-loader *ngIf="cragsLoading"></app-loader>

      <div *ngIf="!cragsLoading" fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-label>Išči po seznamu</mat-label>
          <input
            matInput
            autofocus
            [formControl]="search"
            autocomplete="off"
            (keydown)="searchKeyDown($event)"
          />
        </mat-form-field>
      </div>

      <div class="card" *ngIf="!cragsLoading">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px"
          fxHide.lt-md
          class="row header"
        >
          <div fxFlex="40" fxFlex.lt-md="100">Plezališče</div>
          <div fxFlex="20" fxFlex.lt-md>Število smeri</div>
          <div fxFlex="20" fxFlex.lt-md>Usmerjenost</div>
          <div fxFlex="20" class="routes" fxFlex.lt-md>Težavnost</div>
        </div>
        <div
          *ngFor="let crag of filteredCrags"
          [routerLink]="['/plezalisca/', country.slug, crag.slug]"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px"
          class="row"
        >
          <div fxFlex="40" fxFlex.lt-md="100">
            <a [routerLink]="['/plezalisca/', country.slug, crag.slug]">{{
              crag.name
            }}</a>
          </div>
          <div fxFlex="20" fxFlex.lt-md fxHide.lt-md>{{ crag.nrRoutes }}</div>
          <div fxFlex="20" fxFlex.lt-md fxHide.lt-md>
            {{ crag.orientation | orientation }}
          </div>
          <div fxFlex="20" fxFlex.lt-md class="routes">
            <span fxHide.gt-sm>{{ crag.nrRoutes }} smeri<br /></span>
            <app-grade
              [difficulty]="crag.minDifficulty"
              [gradingSystemId]="crag.defaultGradingSystem.id"
            ></app-grade>
            {{
              crag.minDifficulty != null && crag.maxDifficulty != null
                ? " do "
                : ""
            }}<app-grade
              [difficulty]="crag.maxDifficulty"
              [gradingSystemId]="crag.defaultGradingSystem.id"
            ></app-grade>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
