.row {
  cursor: pointer;

  .routes {
    white-space: nowrap;
    text-align: right;
  }
  &.header {
    cursor: default;
  }
}
.crag-map-container {
  position: relative;
  height: 360px;
  .crag-map {
    position: absolute;
    height: 360px;
    width: 100%;
  }
}
