@import "~@angular/material/theming";
@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

.demo-chart {
    min-height: 400px;
    width: 100%;
}

.scrollable-table {
  max-width: 100%;
  overflow-x: auto;
  .card-table {
    min-width: 600px;
  }
}


.selected {
  background-color: $blue-very-light;
}

.warn {
  color: $red;
}
.notice {
  color: $orange;
}
