<app-activity-header active="statistika"></app-activity-header>

<div class="container has-loader mt-16">
  <div class="card-loader" *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!loading">
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      [formGroup]="filters"
      fxLayoutGap="16px"
    >
      <mat-form-field class="no-hint infix-width-auto" id="no-bottom" fxFlex>
        <mat-label>Vse</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of activityYears" [value]="year.value"
            >{{ year.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="no-hint infix-width-auto" fxFlex>
        <mat-label>Vrsta vzpona</mat-label>
        <mat-select formControlName="ascentType" multiple>
          <mat-option *ngFor="let type of nonTopRopeAscentTypes" [value]="type.value"
            >{{ type.label }}
          </mat-option>
          <mat-optgroup label="Top rope">
            <ng-container *ngFor="let type of topRopeAscentTypes">
              <mat-option
                [value]="type.value"
                >{{ type.label }}
              </mat-option>
            </ng-container>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="card has-loader scrollable-table mt-16" *ngIf="myRouteStats && myRouteStats.length>0">
      <div class="card-loader" *ngIf="loading">
        <app-loader></app-loader>
      </div>
      <table class="card-table" >
        <thead>
          <tr class="row header">
            <th
              class="stat-th"
              [ngStyle]="{
                'width.%': 20
              }"
            >
              <span>Ocena</span>
            </th>
            <th *ngFor="let type of selectedAscentTypes"
            class="stat-th"
            [ngStyle]="{
              'width.%': 20
            }"
            >
              <span>{{ type.label }}</span>
            </th>
            <th
              class="stat-th"
              [ngStyle]="{
                'width.%': 20
              }"
            >
              <span>Skupaj</span>
            </th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr
            *ngFor="let dataElement of data"
            class="row"
          >
            <td>{{ dataElement.grade}}</td>
            <td *ngFor="let type of selectedAscentTypes; index as i">{{ dataElement.data[type.value]}}</td>
            <td>{{ dataElement.data['sum']}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card mt-16" *ngIf="myRouteStats && myRouteStats.length>0">
      <h3>Graf</h3>
      <div class="p-16">
        <div echarts [options]="options" class="demo-chart m-16"></div>
      </div>
    </div>

    <div class="card mt-16" *ngIf="myRouteStats && myRouteStats.length>0">
      <h3>Število smeri po letih</h3>
      <div class="p-16">
        <div echarts [options]="optionsByYear" class="demo-chart m-16"></div>
      </div>
    </div>

    <div class="card mt-16" *ngIf="myActivityStats && myActivityStats.length>0">
      <h3>Število aktivnosti po letih</h3>
      <div class="p-16">
        <div echarts [options]="activitiesByYear" class="demo-chart m-16"></div>
      </div>
    </div>
    <div *ngIf="myRouteStats && myRouteStats.length==0" class="card mt-16">      
      <h3>Ni podatkov</h3>
    </div>
  </div>
</div>
