@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

.route {
  background: #fff;
  box-shadow: 0 2px 6px 0 #6494ff26;
  padding: 4px 12px;
  border-left: 1px solid $primary;
  &.warn {
    border-left: 1px solid $red;
  }

  &.notice {
    border-left: 1px solid $orange;
  }
  .name {
    padding: 12px 0;
  }
  .mat-icon-button:not(.mat-accent) {
    color: #666;
  }

  &.disabled {
    color: $gray;
  }
  &.ghost {
    box-shadow: none;
    border-left: none;
    background: none;
    i {
      color: $gray;
    }
  }
}
.buttons {
  padding: 12px 0;
  text-align: center;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drop-list.saving {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
  }
}

.publish-status-actions {
  text-align: right;
  white-space: nowrap;
  button {
    text-transform: uppercase;
    &:last-child {
      margin-left: 8px;
    }
  }
}

// Beta feature styling
.beta-feature {
  margin-top: 16px;
  color: $gray;
  opacity: 0.7;

  .small-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
  }
}
