<div fxLayout="row">
  <mat-form-field fxFlex="100" floatLabel="never">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Iskanje</mat-label>
    <input type="text" matInput type="text" placeholder="Vnesi ime plezališča ali smeri" [formControl]="searchControl"
      [matAutocomplete]="auto" />

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option *ngFor="let result of searchResults" [value]="result">
        <b>{{result.name}}</b>
        <ng-container *ngIf="result.type == 'route'">
          (<app-grade [grade]="result.route.grade" [text]="result.route.difficulty">
          </app-grade>) -
          <small>Plezališče <b>{{ result.route.crag.name
              }}</b></small>
        </ng-container>
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
</div>
