@import "~@angular/material/theming";

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$success: mat-color(mat-palette($mat-green));

$colors-red: #fb2c2c;
$colors-green: #4dc700;

$text-yellow: #f78c06;
$text-green: #3b9800;
$text-red: #fb2c2c;
