.editor {
  .tox {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    &:hover {
      border-bottom: 2px solid #000;
    }

    .tox-edit-area__iframe {
      background: rgba(0, 0, 0, 0.04);
    }
    .tox-toolbar,
    .tox-toolbar__overflow,
    .tox-toolbar__primary {
      background: rgba(0, 0, 0, 0.04);
      padding: 8px 6px 0 6px;
    }
    .tox-statusbar {
      background: rgba(0, 0, 0, 0.04);
      border: none;
      height: 26px;
      padding: 0 14px;
    }
    .tox-statusbar__resize-handle {
      margin: 0;
      padding-bottom: 6px;
    }
  }
  &.focused {
    .tox {
        border-bottom: 2px solid $primary;
    }
  }
}
