@import "~@angular/flex-layout/mq";
@import "reset.scss";
@import "colors.scss";
@import "editor.scss";
@import "variables.scss";

body {
  background: #eef5f9;
}

/* XS (extra small)*/
.container {
  margin: 0 16px;
  width: auto;
  display: block;
}

/* SM (small) */
@media (min-width: $breakpoint-sm) {
  .container {
    margin: 0 32px;
    width: auto;
  }
}

/* MD (medium) */
@media (min-width: $breakpoint-md) {
  .container {
    margin: 0 auto;
    width: 840px;
  }
}

/* LG (large) */
@media (min-width: $breakpoint-lg) {
  .container {
    margin: 0 200px;
    width: auto;
  }
}

/* XL (extra large) */
@media (min-width: $breakpoint-xl) {
  .container {
    margin: 0 auto;
    width: 1040px;
  }
}

// TODO replace margin/padding util classes with a for loop that generates all these classes
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

p.mt-16,
.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-8 {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}
.ml-16 {
  margin-left: 16px;
}

.pb-8 {
  padding-bottom: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-16 {
  padding: 16px;
}

// TODO END margin/spacing util classes

.white-back {
  background: #fff;
  box-shadow: 0 2px 6px 0 #6494ff26;
}

.mat-typography h1 {
  color: $primary;
  margin: 0;
  line-height: 40px; // same as icon button height
}

.mat-typography h2 {
  color: $text-gray;
  font-weight: 500;
  font-size: 20px;
}

.mat-typography h3 {
  color: $text-gray;
  padding: 14px 16px;
  margin: 0;
  font-weight: 500;
}

a {
  color: $primary;
  text-decoration: none;
}

b {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.card {
  background: #fff;
  border-radius: 0;
  box-shadow: 0 0px 13px 0px #314c8833;
  border-left: 1px solid $primary;
  position: relative;
  &.has-loader {
    min-height: 120px;
  }
  &.padding {
    padding: 16px;
  }
  &.no-border {
    border: none;
  }

  .card-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row {
  min-height: 42px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 6px 14px;
  outline: none;
  &.header {
    color: $text-gray;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  &:not(.header) {
    &:hover {
      background: #f6f9ff;
    }
  }
}

.card-table {
  width: 100%;
  .row {
    height: 52px;
    td,
    th {
      vertical-align: middle;
      padding: 8px 12px;
      &.tools {
        width: 10px;
        white-space: nowrap;
        color: #b7b7b7;
      }
    }
    &.header {
      td,
      th {
        font-weight: normal;
        text-align: left;
        padding-top: 12px;
        height: 52px;
        span.sortable {
          cursor: pointer;
          &.sorted {
            color: $primary;
          }
        }
      }
    }
  }
}

body {
  .form.no-hints {
    .mat-form-field {
      .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }
    }
  }
  .mat-dialog-container {
    border-radius: 2px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0;
  }
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    border-radius: 2px;
  }
  .mat-form-field.no-hint {
    .mat-form-field-wrapper {
      margin-bottom: -1.25em;
    }
  }
  .mat-form-field-subscript-wrapper {
    overflow: visible;
  }
  .mat-snack-bar-container {
    border-radius: 2px;
    text-align: center;
    &.error {
      color: $warn;
    }
    &.success {
      color: $success;
    }
  }
  .mat-form-field-infix {
    line-height: normal;
  }
  .infix-width-auto {
    .mat-form-field-infix {
      width: auto;
    }
  }

  .mat-paginator {
    background: none;
  }
}

span.highlight {
  // background-color: #ffd740;
  background-color: #ffe57f;
  // TODO: extract from theme? -> accent light = amber-A200 #ffd740
  //                           -> amber-A100 = #FFE57F
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.swiper-pagination-bullet-active {
  background-color: $primary !important;
  opacity: 1 !important;
}

.footnote {
  color: $gray-dark;
  font-size: 10.5px;
}

.mat-checkbox-layout {
  white-space: normal !important;
}
.mat-checkbox-inner-container {
  margin-top: 4px !important;
}
