@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "~@angular/flex-layout/mq";
@import "reset.scss";
@import "colors.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background: #eef5f9;
}

h1 {
    background: #fff;
    box-shadow: 0 2px 6px 0 #6494ff26;
    border-radius: 3px;
    color: $primary;
    @include layout-bp(lt-md) {
        font-size: 18px;
    }
}

a {
    color: $primary;
    &:hover {
        color: mat-color($app-primary, 500);
        text-decoration: underline;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    &.p15 {
        padding: 15px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.text-center {
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 0;
    box-shadow: 0 0px 13px 0px #314c8833;
}

.row {
    min-height: 42px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 6px 14px;
    outline: none;
    &.header {
        color: #0000008a;
        border-top: none;
        padding-top: 28px;
    }
    &:not(.header) {
        &:hover {
            background: #f6f9ff;
        }
    }
}

body {
    .mat-dialog-container {
        border-radius: 2px;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0;
    }
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        border-radius: 2px;
    }
    .mat-form-field.no-hint {
        .mat-form-field-wrapper {
            margin-bottom: -1.25em;
        }
    }
    .mat-form-field-subscript-wrapper {
        overflow: visible;
    }
    .mat-snack-bar-container {
        border-radius: 2px;
        &.error {
            color: $warn;
        }
    }
    .mat-form-field-infix {
        line-height: normal;
    }
}
