$breakpoint-sm: 600px;
$breakpoint-md: 905px;
$breakpoint-lg: 1240px;
$breakpoint-xl: 1440px;

$gray: #757575;
$gray-light: #ebebeb;
$blue-very-light: #f6f9ff;
$blue-light-semi-transparent: #314c8833;

$red: #f44336;
$orange: #ff9800;
$amber: #ffc107;

$blue: #2196f3;

$card-shadow: 0 0 16px $blue-light-semi-transparent;
