<form [formGroup]="cragForm" (submit)="save()">
  <div fxLayout="row" fxLayoutGap="8px">
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Ime plezališča</mat-label>
        <input matInput cdkFocusInitial type="text" formControlName="name" />
      </mat-form-field>
    </p>
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Slug</mat-label>
        <input matInput type="text" formControlName="slug" />
        <mat-hint>Računalniku prijazno ime, uporabljeno v URL povezavi</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div fxLayout="row" fxLayoutGap="8px">
    <p fxFlex="50">
      <mat-form-field class="no-hint">
        <mat-label>Država</mat-label>
        <mat-select formControlName="countryId">
          <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p fxFlex="50" *ngIf="areas.length > 0">
      <mat-form-field class="no-hint">
        <mat-label>Regija</mat-label>
        <mat-select formControlName="areaId">
          <mat-option *ngFor="let area of areas" [value]="area.id">{{ area.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <div fxLayout="row" fxLayoutGap="8px">
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Zemljepisna širina</mat-label>
        <input matInput type="text" formControlName="lat" />
        <mat-hint>Google koordinata, npr.: 45.96882330502303</mat-hint>
      </mat-form-field>
    </p>
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Zemljepisna dolžina</mat-label>
        <input matInput type="text" formControlName="lon" />
        <mat-hint>Google koordinata, npr.: 14.009368654412414</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <div fxLayout="row" fxLayoutGap="8px">
    <p fxFlex="50">
      <mat-form-field class="no-hint">
        <mat-label>Usmerjenost</mat-label>
        <mat-select formControlName="orientation">
          <mat-option *ngFor="let orientation of orientations" [value]="orientation.id">{{ orientation.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <p>
    <mat-form-field class="no-hint">
      <mat-label>Opis plezališča</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="no-hint">
      <mat-label>Opis dostopa</mat-label>
      <textarea matInput formControlName="access"></textarea>
    </mat-form-field>
  </p>

  <div fxLayout="row" fxLayoutGap="8px">
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.id">{{ status.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <div>Ta obrazec je work in progress in ga še ni mogoče shraniti</div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="!loading" mat-flat-button color="primary" [disabled]="!cragForm.valid">
      SHRANI
    </button>
    <span *ngIf="loading" class="loading">
      <mat-spinner diameter="30"></mat-spinner>
    </span>
  </div>
</form>
