.mat-form-field {
  width: 100%;
}
.mat-hint a {
  text-decoration: none;
}

.publish-status-actions {
  text-align: right;
  white-space: nowrap;
  button {
    text-transform: uppercase;
    &:last-child {
      margin-left: 8px;
    }
  }
}
