@import "../../../../styles/colors.scss";

h3 {
    color: #0000008a;
    margin: 16px;
    font-weight: 500;
}

a.row {
    text-decoration: none;
    color: #000;
    &:hover {
        color: $primary;
    }
    &.active {
        color: $primary;
        cursor: default;
        background: #f6f9ff;
    }
}
.show-all {
    color: #0000008a;
    padding: 12px;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
