<div class="container">
  <mat-card *ngIf="pendingDrafts?.length" class="mt-16 warn">
    V bazo si prispeval
    {{ pendingDrafts.length | pluralizeNoun: "nov vnos" }}.
    <a *ngIf="!isAdmin" [routerLink]="['/urejanje/prispevki']"
      >Predlagaj uredništvu objavo.</a
    >
    <a *ngIf="isAdmin" [routerLink]="['/urejanje/prispevki']"
      >Objavi {{ pendingDrafts.length | pluralizeNoun: "ga" }}.</a
    >
  </mat-card>

  <mat-card *ngIf="pendingInReviews?.length && isAdmin" class="mt-16 notice">
    {{ pendingInReviews.length | pluralizeNoun: "uporabniški prispevek" }}
    {{ pendingInReviews.length | pluralizeVerb: "čakati" }}
    na objavo.
    <a [routerLink]="['/urejanje/prispevki']"
      >Preglej {{ pendingInReviews.length | pluralizeNoun: "ga" }} in
      {{ pendingInReviews.length | pluralizeNoun: "ga" }} zavrni ali potrdi.</a
    >
  </mat-card>
</div>
