<div fxLayout="row">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" fxFlex="100">
    <mat-form-field
      fxFlex="100"
      floatLabel="never"
      style="margin-bottom: -1.34375em"
    >
      <mat-icon matPrefix class="my-icon">search</mat-icon>
      <mat-label>Iskanje</mat-label>
      <input
        type="text"
        matInput
        type="text"
        placeholder="Poišči plezališče, smer, sektor, uporabnika ali komentar"
        formControlName="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onOptionSelected($event.option.value)"
      >
        <mat-option disabled *ngIf="error"
          >Prišlo je do nepričakovane napake</mat-option
        >

        <ng-container *ngIf="!error">
          <mat-optgroup *ngIf="searchResults?.crags.length" label="Plezališča">
            <mat-option *ngFor="let crag of searchResults.crags" [value]="crag">
              {{ crag.name }}
            </mat-option>
          </mat-optgroup>

          <mat-optgroup *ngIf="searchResults?.routes.length" label="Smeri">
            <mat-option
              *ngFor="let route of searchResults.routes"
              [value]="route"
            >
              {{ route.name }}
            </mat-option>
          </mat-optgroup>

          <mat-optgroup *ngIf="searchResults?.sectors.length" label="Sektorji">
            <mat-option
              *ngFor="let sector of searchResults.sectors"
              [value]="sector"
            >
              {{ sector.name }}
            </mat-option>
          </mat-optgroup>

          <mat-optgroup *ngIf="searchResults?.users.length" label="Uporabniki">
            <mat-option *ngFor="let user of searchResults.users" [value]="user">
              {{ user.fullName }}
            </mat-option>
          </mat-optgroup>

          <mat-optgroup
            *ngIf="searchResults?.comments.length"
            label="Komentarji"
          >
            <mat-option
              *ngFor="let comment of searchResults.comments"
              [value]="comment"
            >
              {{ truncateComment(comment.content) }}
            </mat-option>
          </mat-optgroup>
        </ng-container>
      </mat-autocomplete>
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        (click)="onClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
