@import "../../../styles/colors.scss";

div {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

mat-icon.sort-arrow {
  &:last-child {
    margin-left: -6px;
  }

  font-size: 12px;
  width: 12px;
  height: 12px;
}

.active {
  color: $primary;
}
