<div *ngIf="grades.length > 0" class="grades-list" fxLayout="column">
  <div
    *ngFor="let grade of grades"
    [ngClass]="{ 'grade-included-in-calc': grade.includedInCalculation }"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="12px"
    class="row"
  >
    <app-grade
      [difficulty]="grade.difficulty"
      [gradingSystemId]="gradingSystemId"
      [legacy]="true"
    ></app-grade>
    <div>
      <ng-container *ngIf="grade.isBase && !grade.user"
        >Bazna ocena</ng-container
      >
      <ng-container *ngIf="grade.user"
        >{{ grade.user.firstname + " " + grade.user.lastname }}
      </ng-container>
    </div>
    <div class="grade-date">{{ grade.created | date: "d. M. yyyy" }}</div>
  </div>
</div>
