<div *ngIf="grades.length > 0">
  <div *ngFor="let grade of grades"
       [ngClass]="{ 'grade-included-in-calc': grade.includedInCalculation }"
       fxLayout="row"
       fxLayoutAlign="start"
       fxLayoutGap="12px">
    <app-grade [grade]="grade.grade"
               [text]="difficulty"
               [showModifier]="true"></app-grade>
    <div>
      <ng-container *ngIf="grade.isBase">Bazna ocena</ng-container>
      <ng-container *ngIf="!grade.isBase && grade.user">{{ grade.user.firstname + ' ' + grade.user.lastname }}</ng-container>
    </div>
    <div class="grade-date">{{ grade.created | amDateFormat:'D. M. Y' }}</div>
  </div>
</div>
