.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-row {
  height: 40px;
  width: 100%;
  text-align: right;
}

.image-row {
  overflow: auto;
}

.image-w-caption-wrap {
  max-height: 100%;
  place-content: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.caption {
  margin-top: 4px;
  text-align: center;
}

.author {
  mat-icon {
    font-size: 12px;
    line-height: 12px;
    width: 12px;
    height: 12px;
  }
  span {
    margin-left: 4px;
  }
}
