<div class="full-container">
  <div class="close-button-row" (click)="onCloseClick()">
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="navi-image-caption-row">
    <div class="navi-col">
      <button mat-icon-button (click)="onPreviousImageClick()">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>

    <div class="image-w-caption-wrap" (click)="onCloseClick()">
      <app-responsive-image
        [imageWidths]="[300, 600, 1040]"
        [fallbackWidth]="1040"
        [imagePath]="data.image.path"
        [renderSizes]="renderSizes"
        [maxIntrinsicWidth]="data.image.maxIntrinsicWidth"
        [imageAlt]="data.image.title"
      ></app-responsive-image>

      <div class="caption-wrap">
        <div>
          <span *ngIf="data.image.title">
            <span>{{ data.image.title }}</span>
            <span *ngIf="data.image.route || data.image.crag">, </span>
          </span>

          <span *ngIf="data.image.route">
            <span>smer </span>
            <a
              *ngIf="data.image.route"
              [routerLink]="[
                '/plezalisce',
                data.image.route.crag.slug,
                'smer',
                data.image.route.slug
              ]"
              >{{ data.image.route.name }}</a
            >, plezališče
            <a [routerLink]="['/plezalisce', data.image.route.crag.slug]">{{
              data.image.route.crag.name
            }}</a>
          </span>

          <span *ngIf="data.image.crag && !data.image.route">plezališče </span>
          <a
            *ngIf="data.image.crag"
            [routerLink]="['/plezalisce', data.image.crag.slug]"
            >{{ data.image.crag.name }}</a
          >
        </div>
        <div *ngIf="data.image.user" class="author">
          <mat-icon>photo_camera</mat-icon>
          <span>
            {{ data.image.user.fullName }}
          </span>
        </div>
      </div>
    </div>
    <div class="navi-col">
      <button mat-icon-button (click)="onNextImageClick()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
