<div class="full-container">
  <div class="buttons-row">
    <!-- add check if the user is the author or an admin, else hide the button -->
    <button mat-icon-button (click)="onDeleteClick()" *ngIf="currentUser && image.user && currentUser.id === image.user.id">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="navi-image-caption-row">
    <div class="navi-col">
      <button
        mat-icon-button
        (click)="onPreviousImageClick()"
        [disabled]="currentImageIndex < 1"
      >
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>

    <div class="image-w-caption-wrap" (click)="onCloseClick()">
      <app-responsive-image
        [imageWidths]="[300, 600, 1040]"
        [fallbackWidth]="1040"
        [imagePath]="image.path"
        [renderSizes]="renderSizes"
        [maxIntrinsicWidth]="image.maxIntrinsicWidth"
        [imageAlt]="image.title"
      ></app-responsive-image>

      <div class="caption-wrap">
        <div>
          <span *ngIf="image.title">
            <span>{{ image.title }}</span>
            <span *ngIf="image.route || image.crag">, </span>
          </span>

          <span *ngIf="image.route">
            <span>smer </span>
            <a
              *ngIf="image.route"
              [routerLink]="[
                '/plezalisce',
                image.route.crag.slug,
                'smer',
                image.route.slug
              ]"
              >{{ image.route.name }}</a
            >, plezališče
            <a [routerLink]="['/plezalisce', image.route.crag.slug]">{{
              image.route.crag.name
            }}</a>
          </span>

          <span *ngIf="image.crag && !image.route">plezališče </span>
          <a
            *ngIf="image.crag"
            [routerLink]="['/plezalisce', image.crag.slug]"
            >{{ image.crag.name }}</a
          >
        </div>
        <div *ngIf="image.author" class="author">
          <mat-icon>photo_camera</mat-icon>
          <span>
            {{ image.author }}
          </span>
        </div>
      </div>
    </div>
    <div class="navi-col">
      <button
        mat-icon-button
        (click)="onNextImageClick()"
        [disabled]="currentImageIndex > images.length - 2"
      >
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
