@import "../../../../styles/variables.scss";

.card-table {
  td.button {
    padding-top: 0;
    padding-bottom: 0;
  }

  .row.expandable-row {
    padding: 0;
    height: 0;
    border-top: 0;
    td {
      padding: 0;

      &.w-border {
        border-top: 0px solid white;
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      div {
        height: 0;
        opacity: 0;
        transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);

        overflow: hidden;
        display: flex;
        align-items: center;
        div {
          padding: 8px 12px;
        }
      }
    }
  }

  .row.expanded-row td {
    &.w-border {
      border-top: 1px solid $gray-lighter;
    }
    div {
      height: 52px;
      opacity: 1;
    }
  }

  mat-icon {
    vertical-align: middle;
  }
}

.compact {
  .date {
    color: $gray;
  }

  div:hover {
    background: $blue-very-light;
  }

  .activity {
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border-top: none;
    }
    padding: 8px 0 8px 8px;
  }

  mat-icon.small {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  div.more-less {
    div {
      height: 20px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .grade {
    width: 41px;
  }

  .expandable-row {
    overflow: hidden;

    .activity-route {
      border-top: 1px solid $gray-lighter;
      padding-top: 0;
      padding-bottom: 0;
    }

    height: 0;
    opacity: 0;
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .expanded-row {
    .activity-route {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    height: 37px;
    opacity: 1;
  }

  .main-activity-route {
    transition: padding-top 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
