<div class="white-back mt-16">
  <div class="container py-8">
    <h1>O platformi plezanje.net</h1>
  </div>
</div>

<div class="container mt-16">
  <mat-card>
    <h2>Stara platforma - nov začetek</h2>
    <p>
      Prva spletna stran, ki je služila kot baza slovenskih plezališč in smeri,
      je bila postavljena že leta 2000 na naslovu www.plezanje.info. Omogočala
      je predlaganje in pregled ocen smeri.
    </p>
    <p>
      Naslednji korak v razvoju je leta 2004 prinesla nova spletna stran, ki jo
      je ustvaril Ivan Pepelnjak, na naslovu www.plezanje.net. Omogočila je
      zapisovanje plezalnega dnevnika z vsemi pričakovanimi funkcionalnostimi,
      kot na primer: označevanje vrste vzpona, navedbo soplezalca_ke ali števila
      ponovitev.
    </p>
    <p>
      Spletna stran www.plezanje.net je uspešno služila svojemu namenu celih
      osemnajst let, kar jo uvršča med najstarejše slovenske spletne strani, ki
      so še v uporabi. Ta dolga doba pa je prinesla mnoge težave pri vzdrževanju
      delovanja portala, še posebej v luči hitrega napredka spletnih tehnologij,
      kar smo opazili tudi uporabniki, ko je bila spletna stran nekajkrat za
      krajši čas nedostopna.
    </p>
    <p>
      Te težave, mnogo novih idej in želja po izboljšanju uporabniške izkušnje
      na mobilnih napravah so nas spodbudili, da se lotimo prenove. V prvi fazi
      smo se osredotočili na tehnološko posodobitev, prenos vseh podatkov v novo
      podatkovno bazo in podprtje ključnih obstoječih funkcionalnosti. Idej za
      izboljšave in razširitve imamo še veliko, veseli pa bomo tudi vseh vaših
      predlogov. Spletna platforma bo seveda še naprej ostala brezplačno
      dostopna in brez oglasov.
    </p>
    <p>
      Celotna koda je dostopna na
      <a
        href="https://github.com/plezanje-net"
        target="_blank"
        rel="noreferrer noopener"
        >github.com/plezanje-net</a
      >, poteku dela pa lahko v živo sledite na
      <a
        href="https://github.com/orgs/plezanje-net/projects/2"
        target="_blank"
        rel="noreferrer noopener"
        >github.com/orgs/plezanje-net/projects/2</a
      >.
    </p>
    <p>
      Trenutno ekipo programerjev sestavljamo: Anže Demšar, Nejc Štebe in Tomaž
      Bevk.
    </p>
    <p>
      Če se nam želiš pridružiti, imaš predlog za spremembo ali opaziš napako,
      nam piši na
      <a
        href="mailto:info@plezanje.net"
        target="_blank"
        rel="noreferrer noopener"
        >info@plezanje.net</a
      >.
    </p>
  </mat-card>
</div>
