<div class="container">
  <mat-card>
    <h1>O plezanje.net</h1>
    <br />
    <p>
      Prva spletna stran, ki je služila kot baza slovenskih plezališč in smeri,
      je bila postavljena leta 2000 na naslovu www.plezanje.info. Uporabnikom je
      omogočala predlaganje ocen preplezanih smeri in pregled predlogov.
    </p>
    <p>
      Naslednji korak v razvoju je leta 2004 prinesla nova spletna stran, ki jo
      je ustvaril Ivan Pepelnjak, na naslovu www.plezanje.net. Omogočila je
      zapisovanje plezalnega dnevnika z vsemi pričakovanimi funkcionalnostimi
      kot na primer označevanje vrste vzpona, navedbe soplezalca ali števila
      ponovitev. Poleg tega pa je prinesla tudi pregled lastnih najtežjih
      vzponov in vnos vadb na umetni steni.
    </p>
    <p>
      Spletna stran www.plezanje.net je uspešno služila svojemu namenu celih
      osemnajst let, kar jo uvršča med najstarejše slovenske spletne strani, ki
      so še v uporabi. Ta dolga doba pa je prinesla mnoge težave pri vzdrževanju
      delovanja portala, še posebej v luči hitrega napredka spletnih tehnologij,
      kar smo opazili tudi uporabniki, ko je bila spletna stran nekajkrat
      nedostopna za krajši čas.
    </p>
    <p>
      Te težave so nas spodbudile, da se lotimo prenove spletne strani. Ekipa
      programerjev se je že na začetku odločila, da bo dostop do spletnega
      portala ostal brezplačen, brez oglasov in z njim ne bomo ustvarjali
      prihodkov. V prvi fazi smo se osredotočili v tehnološko posodobitev
      spletne strani, prenos vseh podatkov v novo podatkovno bazo in podprtje
      ključnih obstoječih funkcionalnosti, v prihodnosti pa bomo omogočili
      najbolj zaželjene izboljšave in razširitve.
    </p>
    <p>
      Ekipo programerjev sestavljamo: Anže Demšar, Nejc Štebe in Tomaž Bevk. Vsa
      koda je dostopna na:
      <a
        href="https://github.com/plezanje-net"
        target="_blank"
        rel="noreferrer noopener"
        >https://github.com/plezanje-net</a
      >, potek dela pa je viden na sledečem naslovu:
      <a
        href="https://github.com/orgs/plezanje-net/projects/2"
        target="_blank"
        rel="noreferrer noopener"
        >https://github.com/orgs/plezanje-net/projects/2</a
      >.
    </p>
    <p>
      Če želite sodelovati ali predlagati spremembe, se lahko pridružite našemu
      Slack kanalu
      <a
        href="https://plezanjenet.slack.com/"
        target="_blank"
        rel="noreferrer noopener"
        >https://plezanjenet.slack.com/</a
      >. Če naletite na težave nam lahko pišete na
      <a
        href="mailto:makeplezanjegreatagain@gmail.com"
        target="_blank"
        rel="noreferrer noopener"
        >makeplezanjegreatagain@gmail.com</a
      >
    </p>

    <br />
    <h2>Novosti</h2>
    <h3>Ocenjevanje težavnosti</h3>
    <p>
      Algoritem za izračun povprečne ocene smeri iz glasov uporabnikov je ostal
      povsem enak kot na starem plezanje.net (razlaga algoritma je dostopna
      tukaj). Nekoliko smo poenostavili le glasovanje o ocenah, in sicer tako,
      da je odslej mogoče glas podati le v “polnih” ocenah (npr. 6a, 6a+, 6b...)
      in nič več v “polovičkah” (npr. 6a/a+, 6a+/b, 6b+/c...).
    </p>
    <p>
      Ker smo iz stare baze prenesli tudi glasove, ki so bili podani v
      “polovičkah”, se ti v takšni obliki še vedno prikazujejo na seznamu glasov
      o težavnosti smeri. Kljub temu, da so vmesne ocene izvzete iz glasovanja,
      se zavedamo kako pomembno je vedeti katera 7a velja za težko in katera 6a
      za lahko, zato smo v teh primerih oceno opremili z dodatno oznako (* -
      težka, * - lahka).
    </p>
    <h3>Obiskanost po mesecih</h3>
    <p>
      Na stran plezališča smo dodali graf, ki prikazuje razmerje vnešenih
      vzponov v tem plezališču glede na mesec v letu - da bo lažje predvideti, v
      kateri sezoni se splača plezališče obiskati. V prihodnje nameravamo iz teh
      podatkov pridobiti tudi seznam priporočenih plezališč za trenutno obdobje
      na prvi strani in podoben prikaz na nivoju sektorja ali smeri.
    </p>
    <h3>Plezalni dnevnik na plezališčih</h3>
    <p>
      Plezalni dnevnik smo integrirali že v pogled plezališča. Pri vsaki smeri
      se pojavi indikator, ki ponazarja, če si to smer že kdaj preplezal_a.
      Preplezane smeri si lahko obkljukaš kar na seznamu, nato pa jih z gumbom
      preneseš v obrazec za vnos v dnevnik. Na njem izbereš na kakšen način si
      preplezal smeri, jim predlagaš oceno, lepoto in ostale podatke. Z gubom
      lahko smeri tudi ponoviš, če si jih v istem dnevu preplezal_a večkrat. Če
      vnašaš smeri za nazaj, jih je možno vnesti tudi brez vnosa plezalnega
      dneva. V tem primeru lahko datum nastavljaš pri vsaki posamezni smeri v
      seznamu.
    </p>
    <h3>Opozorila</h3>
    <p>
      Na pomembna opozorila, ki se objavljajo na plezališčih, smo dodali možnost
      izpostavljanja na prvi strani s časovno omejitvijo. Tako bodo pomembna
      obvestila težje spregledana. V načrtu imamo še možnost arhiviranja
      opozoril. Opozorilo lahko na plezališče doda vsak uporabnik, menu za
      dodajanje je na desni strani vrstice z naslovom plezališča.
    </p>
    <h3>Tipi vzponov</h3>
    <p>
      Dodali smo nov tip vzpona - ponovitev. Kot ponovitev se šteje vsak uspešen
      vzpon v smeri, ki si jo pred tem že preplezal_a na pogled, flash ali z
      rdečo piko. Zaradi konsistenosti baze podatkov, so se tudi obstoječe
      ponovljene rdeče pike spremenile v ponovitve.
    </p>
    <h3>Iskalnik</h3>
    <p>
      Na prvo stran smo dodali iskalnik, s katerim lahko hkrati iščeš po
      plezališčih, smereh, sektorjih ali komentarjih. Rezultati iskanja se
      prikazujejo že med samim vnašanjem in s klikom nanje lahko tudi preskočiš
      stran s strukturiranim izpisom zadetkov ter tako še hitreje prispeš na
      ciljno stran.
    </p>
    <h3>Moji klubi</h3>
    <p>
      Na stran uporabniškega profila (dostopna preko glavnega menija, kadar si
      prijavljen_a) smo dodali podstran Moji klubi. Tu lahko ustvariš svoj klub
      in vanj povabiš druge uporabnike portala plezanje.net. Klubi so pravzaprav
      skupine, ki omogočajo deljenje vzponov med člani iste skupine. Vsi vzponi,
      ki jih v plezalni dnevnik vneseš kot Samo za prijatelje bodo vidni vsem
      članom klubov katerih član si (ne bodo pa javno objavljeni). Uporabniki
      starega plezanje.net to sekcijo morda poznate pod imenom Moj ferajn.
    </p>
    <h3>Ocenjevanje težavnosti</h3>
    <p>
      Algoritem za izračun povprečne ocene smeri iz glasov uporabnikov je ostal
      povsem enak kot na starem plezanje.net (razlaga algoritma je dostopna
      tukaj). Nekoliko smo poenostavili le glasovanje o ocenah, in sicer tako,
      da je odslej mogoče glas podati le v "polnih" ocenah (npr. 6a, 6a+, 6b...)
      in nič več v "polovičkah" (npr. 6a/a+, 6a+/b, 6b+/c...). Ker smo iz stare
      baze prenesli tudi glasove, ki so bili podani v "polovičkah", se ti v
      takšni obliki še vedno prikazujejo na seznamu glasov o težavnosti smeri.
      Kljub temu, da so vmesne ocene izvzete iz glasovanja, se zavedamo kako
      pomembno je vedeti katera 7a velja za težko in katera 6a za lahko, zato
      smo v teh primerih oceno smeri opremili z dodatno oznako (* - težka, * -
      lahka).
    </p>
  </mat-card>
</div>
