@import "../../../../../styles/colors.scss";

.card {
  margin-bottom: 16px;
}

.label {
  color: $text-gray;
}

.row {
  font-weight: 500;
}
.row:first-child {
  min-height: 54px;
}
.content.access {
  font-weight: normal;
  padding: 10px 0;
}
