<div class="card no-border">
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Težavnost</div>
    <span class="text-right">
      {{ iceFall.grade }}
    </span>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="label">Dolžina</div>
    <span class="text-right"> {{ iceFall.height }}m </span>
  </div>

  <div class="row" *ngIf="iceFall.access">
    <div class="label">Dostop</div>
    <div class="content access" [innerHTML]="iceFall.access"></div>
  </div>
</div>
