@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

h2 {
  color: $primary;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16x;
  padding: 0;
  box-shadow: none;
}
.date {
  color: $gray;
}
.grade {
  white-space: nowrap;
}
.direction .mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  display: block;
}

.row {
  padding-top: 8px;
  padding-bottom: 8px;
  &:first-child {
    border-top: none;
  }
}

.mat-card {
  border-radius: 0;
  .mat-card-actions {
    button {
      color: $primary;
    }
  }
  .mat-card-content {
    margin-bottom: 0;
  }
}
