@import "../../../../styles/colors.scss";

$border-color: rgba(0, 0, 0, 0.08); // very light gray
$table-header-text-color: #0000008a; // light gray

h2 {
  color: $primary;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16x;
  padding: 0;
  box-shadow: none;
}
.date {
  color: #757575;
}
.grade {
  white-space: nowrap;
}
.direction .mat-icon {
  font-size: 16px;
  color: #757575;
}
.row:first-child {
  border-top:none;
}
.mat-card {
  border-radius: 0;
  .mat-card-actions {
    button {
      color: $primary;
    }
  }
  .mat-card-content {
    margin-bottom: 0;
  }
}
