<div class="whole-page-wrap">
  <app-header></app-header>

  <main>
    <div class="container mt-16">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="container text-center py-16">
      <a [routerLink]="['/o-plezanje-net']">O plezanje.net</a> |
      <a
        href="mailto:info@plezanje.net"
        target="_blank"
        rel="noopener noreferrer"
        >info@plezanje.net</a
      >
      <div class="mt-4">© www.plezanje.net, 2004-{{ nowYear }}</div>
    </div>
  </footer>
</div>
