.whole-page-wrap {
  position: relative;
  min-height: 100vh;

  .content-above-footer-wrap {
    padding-bottom: 56px; // = 24 (lineheight) + 2x16 (padding tb)
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 24px;
  }
}
