<h1>
  <div class="container p15" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="100">Plezalni dnevnik</div>
  </div>
</h1>

<div class="container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link [active]="active=='dnevnik'" [routerLink]="['/plezalni-dnevnik']">Moj dnevnik</a>
    <a mat-tab-link [active]="active=='vzponi'" [routerLink]="['/plezalni-dnevnik/vzponi']">Pregled vzponov</a>
    <a mat-tab-link [active]="active=='statistika'" [routerLink]="['/plezalni-dnevnik/statistika']">Statistika</a>
  </nav>
</div>
