@import "../../../styles/colors.scss";

.mat-tab-link {
  width: 100%;
}
.mat-tab-label.mat-tab-disabled,
.mat-tab-link.mat-tab-disabled {
  color: rgba(0, 0, 0, 0.87);
}
.tab-button {
  height: 48px;
  padding: 0 24px;
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  &.active {
    color: $primary;
  }
}
