<app-data-error *ngIf="error" [error]="error"></app-data-error>

<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!error && !loading">
  <div class="white-back mt-16">
    <div
      class="container py-8"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <h1>{{ crag.name }}</h1>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon color="primary">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addImage()">
          <span>Dodaj fotografijo</span>
        </button>
        <button mat-menu-item (click)="addComment('comment')">
          <span>Dodaj komentar</span>
        </button>
        <button mat-menu-item (click)="addComment('condition')">
          <span>Dodaj informacijo o razmerah</span>
        </button>
        <button mat-menu-item (click)="addComment('warning')">
          <span>Dodaj opozorilo</span>
        </button>
        <a mat-menu-item [routerLink]="['/urejanje/uredi-plezalisce', crag.id]"
          >Uredi plezališče</a
        >
      </mat-menu>
    </div>
  </div>

  <app-warnings *ngIf="warnings" [warnings]="warnings"></app-warnings>

  <app-publish-status-hint
    *ngIf="crag.publishStatus === 'draft' || crag.publishStatus === 'in_review'"
    class="container mt-16"
    entityType="crag"
    [publishStatus]="crag.publishStatus"
  ></app-publish-status-hint>

  <div
    class="container mt-16"
    fxLayout="row"
    fxLayoutGap="16px"
    fxLayout.lt-md="column"
  >
    <div fxFlex="0 0 calc(33.33% - 8px)" fxFlex.lt-md *ngIf="crag">
      <nav mat-tab-nav-bar fxHide.lt-md>
        <a mat-tab-link disabled>Info</a>
      </nav>

      <app-crag-info [crag]="crag" id="primary" fxHide.lt-md></app-crag-info>

      <app-crag-image
        [crag]="crag"
        fxHide.lt-md
        (click)="onImageClicked()"
      ></app-crag-image>
    </div>

    <div
      fxFlex="0 0 calc(66.67% - 8px)"
      fxFlex.lt-md
      fxLayout="column"
      fxLayoutGap="0px"
      fxLayoutGap.lt-md="16px"
    >
      <nav mat-tab-nav-bar fxHide.lt-md>
        <ng-container *ngFor="let tab of tabs">
          <a
            mat-tab-link
            *ngIf="tab.slug != 'info'"
            [active]="tab.slug == activeTab"
            (click)="setActiveTab(tab)"
          >
            {{ tab.label }}
          </a>
        </ng-container>
      </nav>

      <nav fxHide fxShow.lt-md fxLayout="row wrap">
        <button
          mat-button
          class="tab-button"
          *ngFor="let tab of tabs"
          fxFlex="100"
          [class.active]="tab.slug == activeTab"
          (click)="setActiveTab(tab)"
        >
          {{ tab.label }}
        </button>
      </nav>

      <app-crag-info
        [crag]="crag"
        *ngIf="activeTab == 'info'"
        fxHide.gt-sm
      ></app-crag-info>
      <app-crag-routes
        [crag]="crag"
        *ngIf="activeTab == 'smeri'"
      ></app-crag-routes>

      <app-crag-comments
        [crag]="crag"
        *ngIf="activeTab == 'komentarji'"
        [action]="action$"
      ></app-crag-comments>

      <app-crag-gallery
        [cragId]="crag.id"
        [images]="crag.images"
        *ngIf="activeTab == 'galerija'"
      ></app-crag-gallery>
    </div>
  </div>
</div>
