<div #container class="preview-container" style="overflow: hidden">
  <app-publish-status-hint
    entityType="route"
    [publishStatus]="publishStatus"
    [previewMode]="true"
    class="mt-16 d-block"
  ></app-publish-status-hint>
  <div
    *ngIf="!gradeDistributionLoading && gradeDistribution.length"
    class="pb-8"
  >
    <h4>Ocene uporabnikov</h4>
    <app-distribution-chart
      [distribution]="gradeDistribution"
      (onViewInit)="routeGradesInitialized = true"
    ></app-distribution-chart>
  </div>
  <app-route-comments
    *ngIf="!routeCommentsLoading && routeComments.length"
    [comments]="routeComments"
    [previewMode]="true"
    (onViewInit)="routeCommentsInitialized = true"
  ></app-route-comments>
</div>
