<div #container>
  <container *ngIf="!gradeDistributionLoading && gradeDistribution.length">
    <h3>Ocene uporabnikov</h3>
    <app-distribution-chart
      [distribution]="gradeDistribution"
      (onViewInit)="routeGradesInitialized = true"
    ></app-distribution-chart>
  </container>
  <app-route-comments
    *ngIf="!routeCommentsLoading && routeComments.length"
    [comments]="routeComments"
    [previewMode]="true"
    (onViewInit)="routeCommentsInitialized = true"
  ></app-route-comments>
</div>
