<div class="white-back mt-16">
  <div class="container py-8">
    <h1>Plezalni dnevnik</h1>
  </div>
</div>

<div class="container mt-16" *ngIf="!hideTabs">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      [active]="active == 'vzponi'"
      [routerLink]="['/plezalni-dnevnik/vzponi']"
      >Pregled vzponov</a
    >
    <a
      mat-tab-link
      [active]="active == 'dnevnik'"
      [routerLink]="['/plezalni-dnevnik']"
      >Moj dnevnik</a
    >
    <!-- <a
      mat-tab-link
      [active]="active == 'statistika'"
      [routerLink]="['/plezalni-dnevnik/statistika']"
      >Statistika</a
    > -->
  </nav>
</div>
