@import "../../../../styles/variables.scss";

.warn {
  color: $red;
  &.card {
    border-left: 1px solid $red;
  }
}

.notice {
  color: $amber;
  &.card {
    border-left: 1px solid $amber;
  }
}

.warn,
.notice {
  a {
    color: unset;
    text-decoration: underline;
  }
  &.preview {
    font-size: 12px;
  }
}
