<form [formGroup]="form" fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
  <mat-form-field>
    <mat-label>Oznaka sektorja</mat-label>
    <input matInput formControlName="label" />
    <mat-hint>A, B, C, ...</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ime sektorja</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">

    </mat-select>
  </mat-form-field>

  <div class="tools" fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button [matMenuTriggerFor]="addMenu">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
<mat-menu #addMenu="matMenu">
  <button mat-menu-item>
    <span>Dodaj sektor</span>
  </button>
  <button mat-menu-item>
    <span>Dodaj smer</span>
  </button>
</mat-menu>
