<form [formGroup]="form" (submit)="save()">
  <div
    class="form"
    fxLayout="row"
    fxLayoutGap="12px"
    fxLayoutAlign="stretch center"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="stretch"
  >
    <mat-form-field fxFlex>
      <mat-label>Oznaka sektorja</mat-label>
      <input matInput formControlName="label" />
      <mat-hint>A, B, C, ...</mat-hint>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-label>Ime sektorja</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <div fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="!saving" mat-button [mat-dialog-close]="null">
        Prekliči
      </button>
      <button
        type="submit"
        *ngIf="!saving"
        mat-button
        color="primary"
        [disabled]="!form.valid || form.pristine"
      >
        Shrani
      </button>
      <span *ngIf="saving" class="loading">
        <mat-spinner diameter="30"></mat-spinner>
      </span>
    </div>
  </mat-dialog-actions>
</form>
