@import "../../../../styles/colors.scss";

.link-card {
  cursor: pointer;
  background: #fff;
  border-radius: 0;
  border-left: 1px solid $primary;
  .card-title {
    font-size: large;
    padding-left: 16px;
  }

  mat-icon {
    color: $primary;
  }
}
