<h1>
  <div class="container p15" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="100">Moj Plezanje.net</div>
    <button mat-icon-button matTooltip="Odjava" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</h1>

<div class="container p15" fxLayout="row">
  <mat-card
    fxFlex="200px"
    fxFlex.xs
    class="link-card"
    appMaterialElevation
    [routerLink]="['/moj-profil/moji-klubi']"
  >
    <mat-card-content fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="card-icon">groups</mat-icon>
      <div class="card-title">Moji klubi</div>
    </mat-card-content>
  </mat-card>
</div>
