@import "../../../styles/variables.scss";

.not-visible {
  visibility: hidden;
}
mat-card {
  border-radius: 0;
}
h3 {
  color: #2196f3;
  padding: 0 0 16px 0;
}

ul {
  margin-bottom: 12px;
  margin-top: -4px;
  li {
    list-style: circle;
    list-style-position: inside;
    padding-left: 16px;
  }
}

$almost-black: rgba(0, 0, 0, 0.87);

h2 {
  color: $almost-black;
  padding: 0;
}

.date {
  color: $gray-dark;
}
