<form [formGroup]="activityForm" (submit)="save()">
  <div class="mt-16" *ngIf="false">
    <!-- Disabled until we decide if we like activity routes without activities -->
    <mat-radio-group
      fxLayout="row"
      fxLayoutAlign="start start"
      formControlName="onlyRoutes"
    >
      <label fxFlex="50"
        ><mat-radio-button [value]="false">Vnesi plezalni dan</mat-radio-button
        ><span
          >V tvojem dnevniku se bo pojavil <b>Plezalni dan</b> s preplezanmi
          smermi. Datum in soplezalec bosta skupna vsem vzponom.<br />
          (Priporočamo za sprotno vnašanje.)</span
        ></label
      >
      <label fxFlex="50">
        <mat-radio-button [value]="true"
          >Vnesi samo preplezane smeri </mat-radio-button
        ><span
          >Označene smeri bodo zavedene v tvojem plezalnem dnevniku vsaka
          posebej. Datum lahko nastaviš na vsakem posameznem vzponu.<br />
          (Priporočamo pri vnašanju za nazaj.)
        </span>
      </label>
    </mat-radio-group>
  </div>
  <h3 *ngIf="activityForm.value.type == 'crag'">
    {{ formType == "new" ? "Dodaj" : "Uredi" }} plezalni dan
  </h3>
  <div *ngIf="!activityForm.value.onlyRoutes" class="card">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="start start"
      fxLayoutGap="16px"
      fxLayoutGap.lt-md="0"
    ></div>

    <div fxLayout="column" fxLayoutGap="16px" class="p-16">
      <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="16px"
        *ngIf="crag != null"
      >
        <mat-form-field fxFlex="50" class="no-hint">
          <mat-label>Plezališče</mat-label>
          <input matInput type="text" disabled [value]="crag.name" />
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="16px"
        *ngIf="crag == null && peak == null && iceFall == null"
      >
        <mat-form-field fxFlex="50" *ngIf="formType == 'new'">
          <mat-label>Vrsta aktivnosti</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let option of typeOptions"
              [value]="option.value"
              >{{
                option.label +
                  (["crag", "peak", "iceFall"].includes(option.value)
                    ? " *"
                    : "")
              }}
            </mat-option>
          </mat-select>
          <mat-hint *ngIf="activityForm.value.type == 'crag'"
            >* Uporabi le za vnos plezališča, ki ne obstaja v naši
            bazi</mat-hint
          >
          <mat-hint *ngIf="activityForm.value.type == 'peak'"
            >* Uporabi le za vnos vrha, ki ne obstaja v naši bazi</mat-hint
          >
          <mat-hint *ngIf="activityForm.value.type == 'iceFall'"
            >* Uporabi le za vnos slapu, ki ne obstaja v naši bazi</mat-hint
          >
        </mat-form-field>
        <mat-form-field fxFlex="50" class="no-hint">
          <mat-label>Lokacija</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field class="no-hint" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field
          class="no-hint"
          fxFlex="50"
          *ngIf="activityForm.value.type != 'crag'"
        >
          <mat-label>Trajanje (min)</mat-label>
          <input matInput type="number" formControlName="duration" />
        </mat-form-field>
        <mat-form-field
          class="no-hint"
          fxFlex="50"
          *ngIf="activityForm.value.type == 'crag'"
        >
          <mat-label>Soplezalci</mat-label>
          <input matInput type="text" formControlName="partners" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-label>Opis</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mt-16" *ngIf="activity && activity.routes.length > 0">
    <h3>Preplezane smeri</h3>
    <app-activity-entry-routes
      [routes]="activity.routes"
      type="form"
    ></app-activity-entry-routes>
  </div>

  <div class="mt-16" *ngIf="routes.controls.length">
    <h3>
      {{
        formType == "add" ? "Dodaj nove preplezane smeri" : "Preplezane smeri"
      }}
    </h3>
    <div class="card">
      <div class="p-16">
        <div
          *ngFor="
            let route of routes.controls;
            let first = first;
            let last = last;
            let index = index
          "
          class="route"
        >
          <app-activity-form-route
            [myIndex]="index"
            [route]="route"
            [crag]="crag"
            [activity]="!activityForm.value.onlyRoutes"
            [first]="first"
            [last]="last"
            (move)="moveRoute(index, $event)"
          ></app-activity-form-route>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="p-16">
    <div *ngIf="!loading">
      <button type="button" mat-button (click)="location.back()">
        Prekliči
      </button>
      <button
        mat-button
        color="primary"
        [disabled]="!activityForm.valid || loadingActivity"
      >
        SHRANI
      </button>
    </div>
    <span *ngIf="loading" class="loading">
      <mat-spinner diameter="30"></mat-spinner>
    </span>
  </div>
</form>
