<form [formGroup]="activityForm" (submit)="save()">
  <h3 *ngIf="activityForm.value.type == 'crag'">
    {{ formType == "new" ? "Dodaj" : "Uredi" }} plezalni dan
  </h3>
  <div class="card">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="start start"
      fxLayoutGap="16px"
      fxLayoutGap.lt-md="0"
    ></div>

    <div fxLayout="column" fxLayoutGap="16px" class="p-16">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field
          fxFlex="50"
          [class.no-hint]="
            activityForm.value.type != 'crag' || this.crag != null
          "
        >
          <mat-label>Vrsta aktivnosti</mat-label>
          <mat-select formControlName="type">
            <mat-option
              *ngFor="let option of typeOptions"
              [value]="option.value"
              >{{ option.label }}
            </mat-option>
          </mat-select>
          <mat-hint
            *ngIf="activityForm.value.type == 'crag' && this.crag == null"
            >* Uporabi le, če plezališča ni v naši bazi. Če plezališče obstaja,
            najprej obkljukaj smeri na njegovi strani.</mat-hint
          >
        </mat-form-field>
        <mat-form-field
          fxFlex="50"
          class="no-hint"
          *ngIf="crag == null && peak == null && iceFall == null"
        >
          <mat-label>Lokacija</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field fxFlex="50" class="no-hint" *ngIf="crag != null">
          <mat-label>Plezališče</mat-label>
          <input matInput type="text" disabled [value]="crag.name" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <mat-form-field class="no-hint" fxFlex="50">
          <mat-label>Datum</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field
          class="no-hint"
          fxFlex="50"
          *ngIf="activityForm.value.type != 'crag'"
        >
          <mat-label>Trajanje (min)</mat-label>
          <input matInput type="number" formControlName="duration" />
        </mat-form-field>
        <mat-form-field
          class="no-hint"
          fxFlex="50"
          *ngIf="activityForm.value.type == 'crag'"
        >
          <mat-label>Soplezalci</mat-label>
          <input matInput type="text" formControlName="partners" />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-label>Opis</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mt-16" *ngIf="activity && activity.routes.length > 0">
    <h3>Preplezane smeri</h3>
    <app-activity-entry-routes
      [routes]="activity.routes"
      type="form"
    ></app-activity-entry-routes>
  </div>

  <div class="mt-16" *ngIf="routes.controls.length">
    <h3>
      {{
        formType == "add" ? "Dodaj nove preplezane smeri" : "Preplezane smeri"
      }}
    </h3>
    <div class="card">
      <div class="p-16">
        <div
          *ngFor="
            let route of routes.controls;
            let first = first;
            let last = last;
            let index = index
          "
          class="route"
        >
          <app-activity-form-route
            [myIndex]="index"
            [route]="route"
            [crag]="crag"
            [first]="first"
            [last]="last"
            (move)="moveRoute(index, $event)"
          ></app-activity-form-route>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="p-16">
    <div *ngIf="!loading">
      <button type="button" mat-button (click)="location.back()">
        Prekliči
      </button>
      <button
        mat-button
        color="primary"
        [disabled]="!activityForm.valid || loadingActivity"
      >
        SHRANI
      </button>
    </div>
    <span *ngIf="loading" class="loading">
      <mat-spinner diameter="30"></mat-spinner>
    </span>
  </div>
</form>
