<app-data-error *ngIf="error" [error]="error"></app-data-error>
<ng-container *ngIf="!error">
  <h1>
    <div class="container p15" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="100">Moji klubi</div>
    </div>
  </h1>
  <app-loader *ngIf="loading"></app-loader>
  <div class="container p15 clubs-actions">
    <button mat-flat-button color="primary" (click)="createClub()">
      <mat-icon>add</mat-icon>
      Ustvari nov klub
    </button>
  </div>
  <div *ngIf="!loading" class="container p15">
    <div *ngIf="myClubs.length" class="card clubs-list-container">
      <mat-nav-list>
        <ng-container *ngFor="let club of myClubs; last as isLast">
          <a
            mat-list-item
            [routerLink]="['/moj-profil/moji-klubi/', club.slug]"
          >
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="primary-text">{{ club.name }}</div>
            </div>
            <div class="metadata">
              {{ club.nrMembers }}
              {{
                club.nrMembers % 100 == 1
                  ? "član"
                  : club.nrMembers % 100 == 2
                  ? "člana"
                  : club.nrMembers % 100 == 3 || club.nrMembers % 100 == 4
                  ? "člani"
                  : "članov"
              }}
            </div>
          </a>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </ng-container>
      </mat-nav-list>
    </div>
    <div *ngIf="!myClubs.length">Nisi član nobenega kluba.</div>
  </div>
</ng-container>
