<div #container>
  <h3
    *ngIf="!previewMode || regularComments.length"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <span fxFlex="100">{{
      previewMode ? "Najnovejši komentarji" : "Komentarji"
    }}</span>
    <div fxFlex>
      <button
        *ngIf="!previewMode"
        (click)="addComment('add-comment')"
        mat-button
        color="primary"
      >
        Dodaj komentar
      </button>
    </div>
  </h3>

  <div
    *ngFor="let comment of regularComments | slice: 0:(previewMode ? 3 : 1000)"
    class="comment"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <app-comment [comment]="comment"></app-comment>
  </div>
  <div *ngIf="!regularComments.length && !previewMode" class="p-16">
    Ta smer nima še nobenega komentarja.
  </div>

  <h3
    *ngIf="!previewMode"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <span fxFlex="100"
      ><ng-container *ngIf="conditions.length > 0"
        >Opisi razmer</ng-container
      ></span
    >
    <div fxFlex>
      <button mat-button color="primary" (click)="addComment('add-condition')">
        Dodaj opis razmer
      </button>
    </div>
  </h3>
  <div
    *ngFor="let conditionComment of conditions"
    class="comment"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <app-comment [comment]="conditionComment"></app-comment>
  </div>

  <h3
    *ngIf="!previewMode"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <span fxFlex="100"
      ><ng-container *ngIf="descriptions.length > 0"
        >Opisi smeri</ng-container
      ></span
    >
    <div fxFlex>
      <button
        mat-button
        color="primary"
        (click)="addComment('add-description')"
      >
        Dodaj opis smeri
      </button>
    </div>
  </h3>
  <div
    *ngFor="let description of descriptions"
    class="comment"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <app-comment [comment]="description"></app-comment>
  </div>
</div>
