<div #container>
  <h3
    *ngIf="!previewMode"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <span fxFlex="100">Komentarji</span>
    <div fxFlex>
      <button (click)="addComment('add-comment')" mat-button color="primary">
        Dodaj komentar
      </button>
    </div>
  </h3>
  <!-- simplify by having same title for all comment types on route comment previews... -->
  <h4
    *ngIf="
      previewMode &&
      (regularComments.length || conditions.length || descriptions.length)
    "
  >
    Najnovejši komentarji
  </h4>
  <div
    *ngFor="let comment of regularComments | slice: 0:(previewMode ? 3 : 1000)"
    class="comment"
    [class.preview]="previewMode"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <app-comment [comment]="comment" [previewMode]="previewMode"></app-comment>
  </div>
  <div *ngIf="regularComments.length === 0 && !previewMode" class="p-16">
    Ta smer nima še nobenega komentarja.
  </div>

  <h3
    *ngIf="!previewMode && conditions.length > 0"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <span fxFlex="100">Opisi razmer</span>
    <div fxFlex>
      <button mat-button color="primary" (click)="addComment('add-condition')">
        Dodaj opis razmer
      </button>
    </div>
  </h3>
  <div
    *ngFor="let conditionComment of conditions"
    class="comment"
    [class.preview]="previewMode"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <app-comment
      [comment]="conditionComment"
      [previewMode]="previewMode"
    ></app-comment>
  </div>

  <h3
    *ngIf="!previewMode && descriptions.length > 0"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column"
  >
    <span fxFlex="100">Opisi smeri</span>
    <div fxFlex>
      <button
        mat-button
        color="primary"
        (click)="addComment('add-description')"
      >
        Dodaj opis smeri
      </button>
    </div>
  </h3>
  <div
    *ngFor="let description of descriptions"
    class="comment"
    [class.preview]="previewMode"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <app-comment
      [comment]="description"
      [previewMode]="previewMode"
    ></app-comment>
  </div>
</div>
