@import "../../../../styles/colors.scss";

h2 {
  color: $primary;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 0;
  box-shadow: none;
}

.comment-row {
  padding: 16px;

  &.first {
    border-top: 0;
  }
}

// TODO Check if these rules could be applied accross the whole app
.mat-card {
  border-radius: 0;

  .mat-card-content {
    margin-bottom: 0;
  }

  .mat-card-actions {
    button {
      color: $primary;
    }
  }
}
