@import "~@angular/material/theming";

@include mat-core();

$plezanje-net-primary: mat-palette($mat-blue);
$plezanje-net-accent: mat-palette($mat-amber, A200, A100, A400);

$plezanje-net-warn: mat-palette($mat-red);

$plezanje-net-theme: mat-light-theme(
  (
    color: (
      primary: $plezanje-net-primary,
      accent: $plezanje-net-accent,
      warn: $plezanje-net-warn,
    ),
  )
);

@include angular-material-theme($plezanje-net-theme);

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

$custom-typography: mat-typography-config(
  $font-family: "Poppins, sans-serif",
  $headline: mat-typography-level(24px, 32px, 600),
  $body-1: mat-typography-level(14px, 20px, 400),
);

@include angular-material-typography($custom-typography);

@import "styles/global.scss";
