@import "~@angular/material/theming";

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$plezanje-net-primary: mat-palette($mat-blue);
$plezanje-net-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$plezanje-net-warn: mat-palette($mat-red);

$plezanje-net-theme: mat-light-theme(
  (
    color: (
      primary: $plezanje-net-primary,
      accent: $plezanje-net-accent,
      warn: $plezanje-net-warn,
    ),
  )
);

@include angular-material-theme($plezanje-net-theme);

$custom-typography: mat-typography-config(
  $font-family: "Poppins, sans-serif",
  $headline: mat-typography-level(24px, 32px, 600),
  $body-1: mat-typography-level(14px, 20px, 400),
);

@include angular-material-typography($custom-typography);

@import "styles/global.scss";
