<div fxLayout="column" fxLayoutGap="12px" fxHide.lt-md>
  <div class="card" *ngIf="countries">
    <h3>Države</h3>
    <ng-container *ngFor="let listCountry of countries; let i = index">
      <ng-container *ngIf="showAllCountries || i <= 5">
        <a
          [class.active]="listCountry.slug == country.slug"
          [routerLink]="makeRoute(listCountry.slug, { area: null })"
          class="row"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <div fxFlex="100">{{ listCountry.name }}</div>
          <span>{{ listCountry.iceFalls.length }}</span>
        </a>
      </ng-container>
    </ng-container>
  </div>
</div>

<div fxLayout="row" fxLayoutGap="6px" fxHide fxShow.lt-md>
  <div fxFlex="100">
    <mat-form-field class="no-hint infix-width-auto">
      <mat-label>Država</mat-label>
      <mat-select
        [value]="country.slug"
        (selectionChange)="changeCountry($event.value)"
      >
        <mat-option
          *ngFor="let listCountry of countries"
          [value]="listCountry.slug"
          >{{ listCountry.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
