.card {
  padding: 24px;
  margin: auto;
  max-width: 480px;
}

form {
  padding-top: 12px;
}

.mat-form-field {
  width: 100%;
}
.mat-flat-button {
  width: 100%;
}
.conditions {
  padding: 12px 0;
}
