.card {
  padding: 24px;
  margin: auto;
  max-width: 480px;
}

form {
  padding-top: 12px;
}

.mat-form-field {
  width: 100%;
}

.mat-flat-button {
  width: 100%;
}

.conditions {
  margin: 16px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.gender {
  margin-top: 16px;
  div {
    margin-top: 8px;
  }
}
