.nr {
  white-space: nowrap;
}
@import "../../../../styles/colors.scss";

a.row {
  text-decoration: none;
  color: #000;
  &:hover {
    color: $primary;
  }
  &.active {
    color: $primary;
    cursor: default;
    background: #f6f9ff;
  }
  &.disabled {
    &:hover {
      color: #000;
    }
  }
}
.mat-form-field {
  width: 100%;
}
.mat-form-field-infix {
  width: auto;
}
