.crag-map-container {
  position: relative;
}
.crag-map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#crag-map {
  width: 100%;
}

.popup {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px 0px 10px;
}

.ol-control.ol-unselectable.locate.location-active > button.map-button {
  color: rgba(128, 0, 0.5);
}
.ol-control.ol-unselectable.locate.location-active {
  background-color: rgba(128, 0, 0.5);
}
.locate {
  top: 4em;
  left: 0.5em;
}
