@import "../../../styles/colors.scss";

form {
  max-width: 100%;
  width: 800px;
}

.route {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 12px;
  &:last-child {
    border-bottom: none;
  }
}

button {
  margin-left: 8px;
}
