.distribution-container {
  margin-bottom: 24px;
}

.distribution-bar-wrapper {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.distribution-bar-label {
  width: 20px;
  margin-right: 10px;
}

.distribution-bar {
  height: 8px;
  border: 1px solid #8080804a;
  background-color: white;
}

.distribution-bar-inner {
  height: 100%;
  background-color: rgb(33, 150, 243); // TODO: replace with variable
}
