.distribution-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 8px;
  align-items: center;
}

.distribution-bar-label {
  text-align: right;
}

.distribution-bar {
  height: 8px;
  background-color: transparent;
}

.distribution-bar-inner {
  height: 100%;
  background-color: rgb(33, 150, 243); // TODO: replace with variable
}
