name: autodeploy
on:
  push:
    branches:
      - hetzner
jobs:
  autodeploy:
    runs-on: hetzner
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Use Node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - name: List files in the repository
        run: ls ${{ github.workspace }}
      - run: npm install
      - run: npm run codegen-production
      - run: npm run build-production
      - run: rm -rf ${{ secrets.WWW_ROOT }}/www/*
      - run: cp -r ./dist/plezanje-net/* ${{ secrets.WWW_ROOT }}/www/
