<div fxLayout="row wrap">
  <div
    fxFlex="50"
    *ngFor="let image of images"
    class="image-container"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="card">
      <img
        [srcset]="
          storageUrl +
          '/images/300/' +
          image.path +
          ' 300w, ' +
          storageUrl +
          '/images/600/' +
          image.path +
          ' 600w'
        "
        sizes="(max-width: 599px) calc(50vw - 56.5px),
        (max-width: 904px) calc(50vw - 72.5px),
        (max-width: 1239px) 231.5px,
        (max-width: 1439px) calc(33.33vw - 182px),
        298px"
        [src]="storageUrl + '/images/600/' + image.path"
        (click)="onImageClick(image)"
      />
      <div class="title">{{ image.title }}</div>
    </div>
  </div>
</div>
