<h3 fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
  <span fxFlex="100">Slike uporabnikov</span>
  <button mat-button color="primary" (click)="onAddImagesClick()">
    Dodaj slike
  </button>
</h3>
<div fxLayout="row wrap">
  <div
    fxFlex="50"
    *ngFor="let image of images; let i = index"
    class="image-container"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="card">
      <app-responsive-image
        [imageWidths]="[300, 600]"
        [imagePath]="image.path"
        renderSizes="
          (max-width: 599px) calc(50vw - 56.5px),
          (max-width: 904px) calc(50vw - 72.5px),
          (max-width: 1239px) 231.5px,
          (max-width: 1439px) calc(33.33vw - 182px),
          298px
        "
        [maxIntrinsicWidth]="image.maxIntrinsicWidth"
        [fallbackWidth]="600"
        [imageAlt]="image.title"
        (click)="onImageClick(i)"
      ></app-responsive-image>

      <div class="title">{{ image.title }}</div>
    </div>
  </div>
</div>
