<app-data-error *ngIf="error" [error]="error"></app-data-error>

<ng-container>
  <h1 mat-dialog-title>Vzponi za smer {{data.routeName}}</h1>
  <div class="container">
    <div class="card has-loader scrollable-table">
      <div class="card-loader" *ngIf="loading">
        <app-loader></app-loader>
      </div>
      <table class="card-table">
        <tr class="row header">
          <td *ngFor="let column of filteredTable.columns">
            <span
              *ngIf="column.sortable"
              class="sortable"
              [class.sorted]="filteredTable.sortColumn == column.name"
              (click)="filteredTable.sort(column)"
            >
              {{ column.label }}
              <mat-icon inline *ngIf="filteredTable.sortColumn != column.name"
                >sort</mat-icon
              >
              <mat-icon
                inline
                *ngIf="filteredTable.sortColumn == column.name"
                >{{
                  filteredTable.sortDirection == "DESC"
                    ? "arrow_downward"
                    : "arrow_upward"
                }}</mat-icon
              >
            </span>
            <span *ngIf="!column.sortable">{{ column.label }}</span>
          </td>
          <td></td>
        </tr>

        <tr
          class="row"
          *ngFor="let route of routes"
          app-crag-activity-route-row
          [route]="route"
          [rowAction]="rowAction$"
          [noTopropeOnPage]="noTopropeOnPage"
        ></tr>
      </table>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Zapri</button>
  </div>
</ng-container>
